<a href="https://colab.research.google.com/github/Vandan1009/python_1/blob/main/fi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [174]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.2)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [172]:
from pyspark.sql import SparkSession

In [173]:
spark=SparkSession.builder.appName('project1').getOrCreate()

In [175]:
spark

In [193]:
df=spark.read.csv('/content/final_data.csv',header=True,inferSchema=True)

In [194]:
df1=spark.read.csv('/content/order_details_new.csv',header=True,inferSchema=True)

In [195]:
from pyspark.sql.functions import *

In [196]:
df.show()

+------------------+------+--------------------+--------+-------------+------------+------+------------------+
|      product_name| Price|         Description|Category|StockQuantity|       Brand|Rating|         Warehouse|
+------------------+------+--------------------+--------+-------------+------------+------+------------------+
|         Card Game|363.33|Whom those term b...|    Toys|           95|        Nerf|   2.6|        Emilyburgh|
|          Toy Boat|  79.6|Listen economy ge...|    Toys|           34|      Barbie|   2.8|  North Jamesmouth|
|     Action Figure|432.64|Lead back her local.|    Toys|            8|        Nerf|   4.6|  West Joshuahaven|
|      Rubik's Cube|215.39|Watch growth inve...|    Toys|         NULL|      Barbie|   3.5|   Mckenziechester|
|       Barbie Doll|  NULL|                NULL|    Toys|           38|   DC Comics|   1.2|     Catherineside|
|    Stuffed Animal|220.09|Computer little f...|    Toys|           76|      Chicco|   2.3|         Bryanport|
|Remote Control Car|460.26|Seem expect they ...|    Toys|           36|      Hasbro|   2.8|   East Brianmouth|
|            Puzzle|  5.75|Box seven never t...|    Toys|           37|        NULL|   0.0|        Traceytown|
|              NULL|439.53|For family state ...|    Toys|           55|  Hot Wheels|   3.7|       Courtneyton|
|     Action Figure| 363.7|Race drive contro...|    Toys|           99|Transformers|   2.1|North Hollyborough|
|         Toy Train|254.84|Home card phone m...|    Toys|           88|Fisher-Price|   1.7|    West Lindafort|
|        Toy Guitar| 58.86|Close gas large e...|    Toys|           22|  Paw Patrol|   1.7|       South Linda|
|Remote Control Car|224.88|Appear standard l...|    Toys|            6|  Hot Wheels|   1.1|         Scottberg|
|           Marbles| 406.9|Tend piece accoun...|    Toys|           68|       VTech|   0.0|       Stephenberg|
|   Building Blocks|232.24|Site executive on...|    Toys|           51|Fisher-Price|   1.5|     South Cynthia|
|           Marbles| 178.2|   Only order think.|    Toys|           22| Nickelodeon|   1.1|  Lake Erinchester|
|       Barbie Doll| 30.57|Weight team relat...|    Toys|           65|Little Tikes|   3.7|          Erinland|
|      Toy Dinosaur|260.14|Couple east sprin...|    Toys|           29|   DC Comics|   2.0|    Port Christina|
|    Stuffed Animal|381.51|Mouth news look a...|    Toys|            1|      Mattel|   1.2|      East Bethany|
|        Board Game|342.79|Speak phone respo...|    Toys|           45|Little Tikes|   2.7|          Markfort|
+------------------+------+--------------------+--------+-------------+------------+------+------------------+
only showing top 20 rows

In [197]:
df1.show()

+--------+-----------+------------------+----------+--------------------+--------+----------+------------+--------------------+
|order_id|customer_id|     customer_name|product_id|      customer_email|quantity|order_date|order_status|    shipping_address|
+--------+-----------+------------------+----------+--------------------+--------+----------+------------+--------------------+
|      37|         20|    Kristy Flowers|        14|pamela11@example.com|       6|2024-07-06|     Pending|6479 Thomas Trail...|
|      80|         38|     Keith Sanchez|         6|lisaholt@example.org|       6|2024-08-10|     Shipped|07201 Berry Passa...|
|      52|         70|       Frank Myers|        30|  nyoung@example.net|       4|2024-01-17|     Shipped|Unit 8916 Box 262...|
|      39|         38|    Samantha Gomez|        26|suarezjennifer@ex...|       4|2024-04-17|     Shipped|8091 Sellers Ferr...|
|      87|         79|     Brian Blevins|        20|carterluis@exampl...|       4|2024-01-08|   Cancelled|47674 Gabriela Gr...|
|      76|         36|       Paul Brewer|        14|klineadrian@examp...|       9|2024-02-12|   Cancelled|808 Melanie Well ...|
|      31|         96|  Shannon Espinoza|        65|qcontreras@exampl...|       9|2024-08-12|   Cancelled|734 Bowers Isle, ...|
|      54|         66|      Samuel Brown|        58|xroberts@example.com|       5|2024-03-31|     Pending|9195 Ashley Squar...|
|      89|         93|   Bianca Petersen|        12| zpowell@example.org|       1|2024-04-02|     Shipped|89414 Karen Villa...|
|      86|         76|     Melissa Heath|        96|brandi58@example.net|       9|2024-01-26|     Pending|59804 Cole Row, E...|
|      42|         34|     Jason Collins|        79|williamreilly@exa...|       1|2024-01-06|     Shipped|106 Murphy Camp, ...|
|      98|         41|         Ryan Bell|        93|  zstone@example.net|       7|2024-04-13|     Pending|583 Richards Spur...|
|      68|         48|Christine Guerrero|        61|  sean90@example.net|       1|2024-02-19|   Cancelled|405 Rojas Spurs, ...|
|      95|         71|   Jamie Fernandez|        68|ffigueroa@example...|       6|2024-02-28|   Delivered|9411 Robert Branc...|
|      95|         75|      Amanda Moody|        28|hornkimberly@exam...|       7|2024-03-14|     Pending|271 Traci Route, ...|
|      73|         48|   Daryl Hernandez|        50|  amiles@example.org|       3|2024-01-29|     Shipped|5920 Kenneth Cany...|
|      38|         59|     Derek Hartman|        49|fernandomarsh@exa...|       2|2024-06-13|   Cancelled|2221 Brian Orchar...|
|       6|         65|    Daniel Padilla|        78| frank26@example.com|       2|2024-02-05|   Delivered|968 Diana Ridges,...|
|       1|         40|      Amy Espinoza|        55|codyjimenez@examp...|      10|2024-05-23|   Cancelled|777 Danielle Junc...|
|      17|         76|    Monica Montoya|         3|patriciapeck@exam...|       7|2024-03-01|   Delivered|9234 Harrington K...|
+--------+-----------+------------------+----------+--------------------+--------+----------+------------+--------------------+
only showing top 20 rows

In [145]:

df.withColumn("Price", when(col("Price").isNull(), avg_price).otherwise(col("Price"))).show()

+------------------+-----------------+--------------------+--------+-------------+------------+------+------------------+
|      product_name|            Price|         Description|Category|StockQuantity|       Brand|Rating|         Warehouse|
+------------------+-----------------+--------------------+--------+-------------+------------+------+------------------+
|         Card Game|           363.33|Whom those term b...|    Toys|           95|        Nerf|   2.6|        Emilyburgh|
|          Toy Boat|             79.6|Listen economy ge...|    Toys|           34|      Barbie|   2.8|  North Jamesmouth|
|     Action Figure|           432.64|Lead back her local.|    Toys|            8|        Nerf|   4.6|  West Joshuahaven|
|      Rubik's Cube|           215.39|Watch growth inve...|    Toys|         NULL|      Barbie|   3.5|   Mckenziechester|
|       Barbie Doll|10665.89385582563|                NULL|    Toys|           38|   DC Comics|   1.2|     Catherineside|
|    Stuffed Animal|           220.09|Computer little f...|    Toys|           76|      Chicco|   2.3|         Bryanport|
|Remote Control Car|           460.26|Seem expect they ...|    Toys|           36|      Hasbro|   2.8|   East Brianmouth|
|            Puzzle|             5.75|Box seven never t...|    Toys|           37|        NULL|   0.0|        Traceytown|
|              NULL|           439.53|For family state ...|    Toys|           55|  Hot Wheels|   3.7|       Courtneyton|
|     Action Figure|            363.7|Race drive contro...|    Toys|           99|Transformers|   2.1|North Hollyborough|
|         Toy Train|           254.84|Home card phone m...|    Toys|           88|Fisher-Price|   1.7|    West Lindafort|
|        Toy Guitar|            58.86|Close gas large e...|    Toys|           22|  Paw Patrol|   1.7|       South Linda|
|Remote Control Car|           224.88|Appear standard l...|    Toys|            6|  Hot Wheels|   1.1|         Scottberg|
|           Marbles|            406.9|Tend piece accoun...|    Toys|           68|       VTech|   0.0|       Stephenberg|
|   Building Blocks|           232.24|Site executive on...|    Toys|           51|Fisher-Price|   1.5|     South Cynthia|
|           Marbles|            178.2|   Only order think.|    Toys|           22| Nickelodeon|   1.1|  Lake Erinchester|
|       Barbie Doll|            30.57|Weight team relat...|    Toys|           65|Little Tikes|   3.7|          Erinland|
|      Toy Dinosaur|           260.14|Couple east sprin...|    Toys|           29|   DC Comics|   2.0|    Port Christina|
|    Stuffed Animal|           381.51|Mouth news look a...|    Toys|            1|      Mattel|   1.2|      East Bethany|
|        Board Game|           342.79|Speak phone respo...|    Toys|           45|Little Tikes|   2.7|          Markfort|
+------------------+-----------------+--------------------+--------+-------------+------------+------+------------------+
only showing top 20 rows

In [144]:
df.selectExpr("avg(Price)").first()[0]

10665.89385582563

In [146]:
df.fillna({
    "product_name": "Unknown",
    "Description": "No description available",
    "StockQuantity": 0,
    "Brand": "No brand",
    "Rating": 0.0,
    "Warehouse": "Unknown"
}).show()

+------------------+------+--------------------+--------+-------------+------------+------+------------------+
|      product_name| Price|         Description|Category|StockQuantity|       Brand|Rating|         Warehouse|
+------------------+------+--------------------+--------+-------------+------------+------+------------------+
|         Card Game|363.33|Whom those term b...|    Toys|           95|        Nerf|   2.6|        Emilyburgh|
|          Toy Boat|  79.6|Listen economy ge...|    Toys|           34|      Barbie|   2.8|  North Jamesmouth|
|     Action Figure|432.64|Lead back her local.|    Toys|            8|        Nerf|   4.6|  West Joshuahaven|
|      Rubik's Cube|215.39|Watch growth inve...|    Toys|            0|      Barbie|   3.5|   Mckenziechester|
|       Barbie Doll|  NULL|No description av...|    Toys|           38|   DC Comics|   1.2|     Catherineside|
|    Stuffed Animal|220.09|Computer little f...|    Toys|           76|      Chicco|   2.3|         Bryanport|
|Remote Control Car|460.26|Seem expect they ...|    Toys|           36|      Hasbro|   2.8|   East Brianmouth|
|            Puzzle|  5.75|Box seven never t...|    Toys|           37|    No brand|   0.0|        Traceytown|
|           Unknown|439.53|For family state ...|    Toys|           55|  Hot Wheels|   3.7|       Courtneyton|
|     Action Figure| 363.7|Race drive contro...|    Toys|           99|Transformers|   2.1|North Hollyborough|
|         Toy Train|254.84|Home card phone m...|    Toys|           88|Fisher-Price|   1.7|    West Lindafort|
|        Toy Guitar| 58.86|Close gas large e...|    Toys|           22|  Paw Patrol|   1.7|       South Linda|
|Remote Control Car|224.88|Appear standard l...|    Toys|            6|  Hot Wheels|   1.1|         Scottberg|
|           Marbles| 406.9|Tend piece accoun...|    Toys|           68|       VTech|   0.0|       Stephenberg|
|   Building Blocks|232.24|Site executive on...|    Toys|           51|Fisher-Price|   1.5|     South Cynthia|
|           Marbles| 178.2|   Only order think.|    Toys|           22| Nickelodeon|   1.1|  Lake Erinchester|
|       Barbie Doll| 30.57|Weight team relat...|    Toys|           65|Little Tikes|   3.7|          Erinland|
|      Toy Dinosaur|260.14|Couple east sprin...|    Toys|           29|   DC Comics|   2.0|    Port Christina|
|    Stuffed Animal|381.51|Mouth news look a...|    Toys|            1|      Mattel|   1.2|      East Bethany|
|        Board Game|342.79|Speak phone respo...|    Toys|           45|Little Tikes|   2.7|          Markfort|
+------------------+------+--------------------+--------+-------------+------------+------+------------------+
only showing top 20 rows

In [148]:
df.withColumn("rating", when(col("rating") == 0, 3.5).otherwise(col("rating"))).show()

+------------------+------+--------------------+--------+-------------+------------+------+------------------+
|      product_name| Price|         Description|Category|StockQuantity|       Brand|rating|         Warehouse|
+------------------+------+--------------------+--------+-------------+------------+------+------------------+
|         Card Game|363.33|Whom those term b...|    Toys|           95|        Nerf|   2.6|        Emilyburgh|
|          Toy Boat|  79.6|Listen economy ge...|    Toys|           34|      Barbie|   2.8|  North Jamesmouth|
|     Action Figure|432.64|Lead back her local.|    Toys|            8|        Nerf|   4.6|  West Joshuahaven|
|      Rubik's Cube|215.39|Watch growth inve...|    Toys|         NULL|      Barbie|   3.5|   Mckenziechester|
|       Barbie Doll|  NULL|                NULL|    Toys|           38|   DC Comics|   1.2|     Catherineside|
|    Stuffed Animal|220.09|Computer little f...|    Toys|           76|      Chicco|   2.3|         Bryanport|
|Remote Control Car|460.26|Seem expect they ...|    Toys|           36|      Hasbro|   2.8|   East Brianmouth|
|            Puzzle|  5.75|Box seven never t...|    Toys|           37|        NULL|   3.5|        Traceytown|
|              NULL|439.53|For family state ...|    Toys|           55|  Hot Wheels|   3.7|       Courtneyton|
|     Action Figure| 363.7|Race drive contro...|    Toys|           99|Transformers|   2.1|North Hollyborough|
|         Toy Train|254.84|Home card phone m...|    Toys|           88|Fisher-Price|   1.7|    West Lindafort|
|        Toy Guitar| 58.86|Close gas large e...|    Toys|           22|  Paw Patrol|   1.7|       South Linda|
|Remote Control Car|224.88|Appear standard l...|    Toys|            6|  Hot Wheels|   1.1|         Scottberg|
|           Marbles| 406.9|Tend piece accoun...|    Toys|           68|       VTech|   3.5|       Stephenberg|
|   Building Blocks|232.24|Site executive on...|    Toys|           51|Fisher-Price|   1.5|     South Cynthia|
|           Marbles| 178.2|   Only order think.|    Toys|           22| Nickelodeon|   1.1|  Lake Erinchester|
|       Barbie Doll| 30.57|Weight team relat...|    Toys|           65|Little Tikes|   3.7|          Erinland|
|      Toy Dinosaur|260.14|Couple east sprin...|    Toys|           29|   DC Comics|   2.0|    Port Christina|
|    Stuffed Animal|381.51|Mouth news look a...|    Toys|            1|      Mattel|   1.2|      East Bethany|
|        Board Game|342.79|Speak phone respo...|    Toys|           45|Little Tikes|   2.7|          Markfort|
+------------------+------+--------------------+--------+-------------+------------+------+------------------+
only showing top 20 rows

In [153]:
df.withColumn("Price", col("Price").cast("int")).show()

+------------------+-----+--------------------+--------+-------------+------------+------+------------------+
|      product_name|Price|         Description|Category|StockQuantity|       Brand|Rating|         Warehouse|
+------------------+-----+--------------------+--------+-------------+------------+------+------------------+
|         Card Game|  363|Whom those term b...|    Toys|           95|        Nerf|   2.6|        Emilyburgh|
|          Toy Boat|   79|Listen economy ge...|    Toys|           34|      Barbie|   2.8|  North Jamesmouth|
|     Action Figure|  432|Lead back her local.|    Toys|            8|        Nerf|   4.6|  West Joshuahaven|
|      Rubik's Cube|  215|Watch growth inve...|    Toys|         NULL|      Barbie|   3.5|   Mckenziechester|
|       Barbie Doll| NULL|                NULL|    Toys|           38|   DC Comics|   1.2|     Catherineside|
|    Stuffed Animal|  220|Computer little f...|    Toys|           76|      Chicco|   2.3|         Bryanport|
|Remote Control Car|  460|Seem expect they ...|    Toys|           36|      Hasbro|   2.8|   East Brianmouth|
|            Puzzle|    5|Box seven never t...|    Toys|           37|        NULL|   0.0|        Traceytown|
|              NULL|  439|For family state ...|    Toys|           55|  Hot Wheels|   3.7|       Courtneyton|
|     Action Figure|  363|Race drive contro...|    Toys|           99|Transformers|   2.1|North Hollyborough|
|         Toy Train|  254|Home card phone m...|    Toys|           88|Fisher-Price|   1.7|    West Lindafort|
|        Toy Guitar|   58|Close gas large e...|    Toys|           22|  Paw Patrol|   1.7|       South Linda|
|Remote Control Car|  224|Appear standard l...|    Toys|            6|  Hot Wheels|   1.1|         Scottberg|
|           Marbles|  406|Tend piece accoun...|    Toys|           68|       VTech|   0.0|       Stephenberg|
|   Building Blocks|  232|Site executive on...|    Toys|           51|Fisher-Price|   1.5|     South Cynthia|
|           Marbles|  178|   Only order think.|    Toys|           22| Nickelodeon|   1.1|  Lake Erinchester|
|       Barbie Doll|   30|Weight team relat...|    Toys|           65|Little Tikes|   3.7|          Erinland|
|      Toy Dinosaur|  260|Couple east sprin...|    Toys|           29|   DC Comics|   2.0|    Port Christina|
|    Stuffed Animal|  381|Mouth news look a...|    Toys|            1|      Mattel|   1.2|      East Bethany|
|        Board Game|  342|Speak phone respo...|    Toys|           45|Little Tikes|   2.7|          Markfort|
+------------------+-----+--------------------+--------+-------------+------------+------+------------------+
only showing top 20 rows

In [161]:

orders_id=df1.dropDuplicates(["Order_id"])
orders_id.show()

+--------+-----------+--------------------+----------+--------------------+--------+----------+------------+--------------------+
|order_id|customer_id|       customer_name|product_id|      customer_email|quantity|order_date|order_status|    shipping_address|
+--------+-----------+--------------------+----------+--------------------+--------+----------+------------+--------------------+
|       1|         40|        Amy Espinoza|        55|codyjimenez@examp...|      10|2024-05-23|   Cancelled|777 Danielle Junc...|
|       2|         93|     Timothy Sanchez|         3|zjennings@example...|       7|2024-02-18|     Shipped|71690 Brian Freew...|
|       3|         25|       Maxwell Avila|        74|timothy59@example...|       3|2024-04-20|     Shipped|08937 Estes Valle...|
|       4|         11|      Danny Peterson|        50|hesterlinda@examp...|       8|2024-01-15|     Pending|28855 Anthony Pla...|
|       5|         28|        John Garrett|        66|haleydurham@examp...|       9|2024-04-03|   Delivered|11323 Bradley Pra...|
|       6|         65|      Daniel Padilla|        78| frank26@example.com|       2|2024-02-05|   Delivered|968 Diana Ridges,...|
|       7|         54|     Alexandra Brown|         6|sarahmccoy@exampl...|       5|2024-03-18|     Pending|5992 Hannah Meado...|
|       8|         40|  Christopher Abbott|        97|heathergonzales@e...|       8|2024-02-04|     Pending|USNS Anderson, FP...|
|       9|         20|     Michael Johnson|        64|  yscott@example.org|       7|2024-05-27|     Shipped|USCGC Hill, FPO A...|
|      10|         95|Mrs. Elizabeth Green|        43| frank86@example.org|       6|2024-01-07|     Pending|951 Little Lodge ...|
|      11|         26|       David Garrett|        27|  ywolfe@example.net|       8|2024-02-18|   Delivered|USNV Fisher, FPO ...|
|      12|          2|   Dr. Vanessa Ramos|        39|conleychristine@e...|       2|2024-01-05|     Shipped|79599 York Plains...|
|      13|          9|        Luke Pacheco|         6|lisaallison@examp...|       3|2024-01-07|     Shipped|28174 Amber Commo...|
|      14|         10|      Aaron Thornton|        97|hwilliams@example...|       1|2024-06-22|     Pending|41950 Donald Port...|
|      15|         49|    Douglas Johnston|         6| qbowers@example.com|       1|2024-02-17|   Delivered|2119 Fuentes Ligh...|
|      16|         73|         Keith Jones|        67|perezmelissa@exam...|       5|2024-03-31|     Pending|286 Sanders Ramp,...|
|      17|         76|      Monica Montoya|         3|patriciapeck@exam...|       7|2024-03-01|   Delivered|9234 Harrington K...|
|      18|         99|    Carly Alvarez MD|        11|fieldssteven@exam...|       7|2024-08-19|   Cancelled|09038 Thomas Key ...|
|      19|          9|      Bryan Mitchell|        83|millerjose@exampl...|       2|2024-04-18|     Pending|6651 Moran Parks ...|
|      20|         18|         John Tucker|        15|matthew15@example...|       2|2024-03-05|   Delivered|365 Bryan Springs...|
+--------+-----------+--------------------+----------+--------------------+--------+----------+------------+--------------------+
only showing top 20 rows

In [162]:
orders_id=df1.dropDuplicates(["Product_id"])
orders_id.show()

+--------+-----------+----------------+----------+--------------------+--------+----------+------------+--------------------+
|order_id|customer_id|   customer_name|product_id|      customer_email|quantity|order_date|order_status|    shipping_address|
+--------+-----------+----------------+----------+--------------------+--------+----------+------------+--------------------+
|      76|          9|   Katie Johnson|         1|  odavis@example.com|       8|2024-04-29|     Shipped|41241 Wright Land...|
|      52|         28|  Hannah Cabrera|         2|deckeraaron@examp...|      10|2024-06-03|   Cancelled|494 Stephen Cente...|
|      17|         76|  Monica Montoya|         3|patriciapeck@exam...|       7|2024-03-01|   Delivered|9234 Harrington K...|
|      52|         68|     Mary Jordan|         4| laura21@example.org|       6|2024-06-17|   Delivered|Unit 6162 Box 415...|
|      12|         65|   Mary Mcknight|         5|carterelizabeth@e...|       6|2024-03-06|     Pending|79585 Logan Throu...|
|      80|         38|   Keith Sanchez|         6|lisaholt@example.org|       6|2024-08-10|     Shipped|07201 Berry Passa...|
|      78|         98|Vincent Mcdonald|         7|allenstacey@examp...|       2|2024-01-06|   Cancelled|0650 Gutierrez Fo...|
|      71|         52| Cheyenne Torres|         8|palmernicole@exam...|       8|2024-08-14|     Shipped|PSC 2519, Box 172...|
|      78|         36|   Ann Henderson|         9|xchristensen@exam...|       6|2024-07-11|     Pending|7994 Sarah Spurs ...|
|      43|         86| Stephen Sanchez|        10|davisrichard@exam...|       7|2024-07-17|   Delivered|88251 Vanessa Vil...|
|      11|         94|Cassandra Jensen|        11|   ann12@example.net|       7|2024-03-15|     Pending|USNS Anthony, FPO...|
|      89|         93| Bianca Petersen|        12| zpowell@example.org|       1|2024-04-02|     Shipped|89414 Karen Villa...|
|      23|         73|     John Bishop|        13|danielphillips@ex...|       9|2024-02-14|     Pending|289 Stewart Stree...|
|      37|         20|  Kristy Flowers|        14|pamela11@example.com|       6|2024-07-06|     Pending|6479 Thomas Trail...|
|      20|         18|     John Tucker|        15|matthew15@example...|       2|2024-03-05|   Delivered|365 Bryan Springs...|
|      62|         58| Gary Richardson|        16|leecheryl@example...|       9|2024-01-17|     Shipped|443 Julia Burgs A...|
|      61|        100|Kristina Mullins|        17|nealsandra@exampl...|       3|2024-04-28|     Pending|73159 Timothy Mea...|
|      75|         51|   Theresa Gates|        18|    cfox@example.org|       4|2024-03-21|   Cancelled|89227 Thomas Mews...|
|      22|         44|Victoria Garrett|        19|juanbray@example.com|       1|2024-06-23|     Shipped|7115 David Light,...|
|      87|         79|   Brian Blevins|        20|carterluis@exampl...|       4|2024-01-08|   Cancelled|47674 Gabriela Gr...|
+--------+-----------+----------------+----------+--------------------+--------+----------+------------+--------------------+
only showing top 20 rows

In [203]:
orders_df = df1.withColumn("Order_date", col("Order_date").cast("date"))
orders_df.show()

+--------+-----------+------------------+----------+--------------------+--------+----------+------------+--------------------+
|order_id|customer_id|     customer_name|product_id|      customer_email|quantity|Order_date|order_status|    shipping_address|
+--------+-----------+------------------+----------+--------------------+--------+----------+------------+--------------------+
|      37|         20|    Kristy Flowers|        14|pamela11@example.com|       6|2024-07-06|     Pending|6479 Thomas Trail...|
|      80|         38|     Keith Sanchez|         6|lisaholt@example.org|       6|2024-08-10|     Shipped|07201 Berry Passa...|
|      52|         70|       Frank Myers|        30|  nyoung@example.net|       4|2024-01-17|     Shipped|Unit 8916 Box 262...|
|      39|         38|    Samantha Gomez|        26|suarezjennifer@ex...|       4|2024-04-17|     Shipped|8091 Sellers Ferr...|
|      87|         79|     Brian Blevins|        20|carterluis@exampl...|       4|2024-01-08|   Cancelled|47674 Gabriela Gr...|
|      76|         36|       Paul Brewer|        14|klineadrian@examp...|       9|2024-02-12|   Cancelled|808 Melanie Well ...|
|      31|         96|  Shannon Espinoza|        65|qcontreras@exampl...|       9|2024-08-12|   Cancelled|734 Bowers Isle, ...|
|      54|         66|      Samuel Brown|        58|xroberts@example.com|       5|2024-03-31|     Pending|9195 Ashley Squar...|
|      89|         93|   Bianca Petersen|        12| zpowell@example.org|       1|2024-04-02|     Shipped|89414 Karen Villa...|
|      86|         76|     Melissa Heath|        96|brandi58@example.net|       9|2024-01-26|     Pending|59804 Cole Row, E...|
|      42|         34|     Jason Collins|        79|williamreilly@exa...|       1|2024-01-06|     Shipped|106 Murphy Camp, ...|
|      98|         41|         Ryan Bell|        93|  zstone@example.net|       7|2024-04-13|     Pending|583 Richards Spur...|
|      68|         48|Christine Guerrero|        61|  sean90@example.net|       1|2024-02-19|   Cancelled|405 Rojas Spurs, ...|
|      95|         71|   Jamie Fernandez|        68|ffigueroa@example...|       6|2024-02-28|   Delivered|9411 Robert Branc...|
|      95|         75|      Amanda Moody|        28|hornkimberly@exam...|       7|2024-03-14|     Pending|271 Traci Route, ...|
|      73|         48|   Daryl Hernandez|        50|  amiles@example.org|       3|2024-01-29|     Shipped|5920 Kenneth Cany...|
|      38|         59|     Derek Hartman|        49|fernandomarsh@exa...|       2|2024-06-13|   Cancelled|2221 Brian Orchar...|
|       6|         65|    Daniel Padilla|        78| frank26@example.com|       2|2024-02-05|   Delivered|968 Diana Ridges,...|
|       1|         40|      Amy Espinoza|        55|codyjimenez@examp...|      10|2024-05-23|   Cancelled|777 Danielle Junc...|
|      17|         76|    Monica Montoya|         3|patriciapeck@exam...|       7|2024-03-01|   Delivered|9234 Harrington K...|
+--------+-----------+------------------+----------+--------------------+--------+----------+------------+--------------------+
only showing top 20 rows

In [183]:
#df.replace(0, 3.5, subset=["rating"]).show()
df_dropped = df.dropna(subset=["price"])
df_dropped.show()

+------------------+------+--------------------+--------+-------------+------------+------+------------------+
|      product_name| Price|         Description|Category|StockQuantity|       Brand|Rating|         Warehouse|
+------------------+------+--------------------+--------+-------------+------------+------+------------------+
|         Card Game|363.33|Whom those term b...|    Toys|           95|        Nerf|   2.6|        Emilyburgh|
|          Toy Boat|  79.6|Listen economy ge...|    Toys|           34|      Barbie|   2.8|  North Jamesmouth|
|     Action Figure|432.64|Lead back her local.|    Toys|            8|        Nerf|   4.6|  West Joshuahaven|
|      Rubik's Cube|215.39|Watch growth inve...|    Toys|         NULL|      Barbie|   3.5|   Mckenziechester|
|    Stuffed Animal|220.09|Computer little f...|    Toys|           76|      Chicco|   2.3|         Bryanport|
|Remote Control Car|460.26|Seem expect they ...|    Toys|           36|      Hasbro|   2.8|   East Brianmouth|
|            Puzzle|  5.75|Box seven never t...|    Toys|           37|        NULL|   0.0|        Traceytown|
|              NULL|439.53|For family state ...|    Toys|           55|  Hot Wheels|   3.7|       Courtneyton|
|     Action Figure| 363.7|Race drive contro...|    Toys|           99|Transformers|   2.1|North Hollyborough|
|         Toy Train|254.84|Home card phone m...|    Toys|           88|Fisher-Price|   1.7|    West Lindafort|
|        Toy Guitar| 58.86|Close gas large e...|    Toys|           22|  Paw Patrol|   1.7|       South Linda|
|Remote Control Car|224.88|Appear standard l...|    Toys|            6|  Hot Wheels|   1.1|         Scottberg|
|           Marbles| 406.9|Tend piece accoun...|    Toys|           68|       VTech|   0.0|       Stephenberg|
|   Building Blocks|232.24|Site executive on...|    Toys|           51|Fisher-Price|   1.5|     South Cynthia|
|           Marbles| 178.2|   Only order think.|    Toys|           22| Nickelodeon|   1.1|  Lake Erinchester|
|       Barbie Doll| 30.57|Weight team relat...|    Toys|           65|Little Tikes|   3.7|          Erinland|
|      Toy Dinosaur|260.14|Couple east sprin...|    Toys|           29|   DC Comics|   2.0|    Port Christina|
|    Stuffed Animal|381.51|Mouth news look a...|    Toys|            1|      Mattel|   1.2|      East Bethany|
|        Board Game|342.79|Speak phone respo...|    Toys|           45|Little Tikes|   2.7|          Markfort|
|        Hot Wheels|482.86|Carry above toget...|    Toys|           47|       Tonka|   1.4|         Andreport|
+------------------+------+--------------------+--------+-------------+------------+------+------------------+
only showing top 20 rows

In [185]:
df_filtered = df.filter(df.Price > 10000)
df_filtered.show()

+----------------+---------+--------------------+-----------+-------------+-----------+------+-----------------+
|    product_name|    Price|         Description|   Category|StockQuantity|      Brand|Rating|        Warehouse|
+----------------+---------+--------------------+-----------+-------------+-----------+------+-----------------+
|      Microwaves| 94437.28|Season morning tr...|Electronics|           26|        JBL|   2.0|      Edwardville|
|         Laptops| 97703.97|  The message short.|Electronics|           75|       Oppo|   1.8|      North Debra|
|        Monitors|120855.77|Either until agai...|Electronics|           30|      Canon|   4.5|East Kristinaview|
|         Tablets| 81797.63|                NULL|Electronics|            1|       Sony|   4.2|   Rodriguezburgh|
|     Hair Dryers| 56225.38|Capital usually m...|Electronics|           74|      Nikon|   4.4|    Port Nicholas|
|    Smart Lights| 57163.54|Push church discu...|Electronics|           37|PlayStation|   2.7|       Jameshaven|
|Security Cameras| 36596.94|Response official...|       NULL|            1|  Microsoft|   1.4|   South Nicholas|
| Gaming Consoles|148879.27|Ago girl within n...|Electronics|           26| Sennheiser|   2.5|   Zimmermanhaven|
|        Printers| 72444.47|Continue account ...|Electronics|           85|         LG|   2.0| Lake Danachester|
|    Smart Lights| 43489.39|Maintain long aro...|Electronics|           69|     Google|   2.7|     Jenniferport|
|Electric Shavers|110970.94|Help rich surface...|Electronics|           43|     Xiaomi|   2.8|        Lindabury|
|     Televisions| 17190.57|Instead minute ac...|Electronics|           98|       Sony|   2.7|  New Jeremyshire|
|Electric Shavers| 31273.17|Tend medical low ...|Electronics|           33|       Acer|   1.1| East Zacharystad|
|  Smart Speakers|139256.56|Improve total enj...|Electronics|           85|   Nintendo|   4.4|        Tammyfort|
|   Sound Systems|146768.32|Tell lay later au...|Electronics|           42|  Whirlpool|   2.3|         Brockton|
| Vacuum Cleaners|115767.14|Away newspaper tr...|Electronics|           78|         LG|   3.0|       Hubermouth|
|     Hair Dryers| 54720.66|Sport management ...|Electronics|           78|      Apple|   3.5|     Courtneyfurt|
|         Tablets| 76621.61|Best standard arg...|Electronics|            1|      Bosch|   3.5|      Port Justin|
|     Smartphones| 95524.27|Enough very follo...|Electronics|           34|     Huawei|   2.1|       Tylerville|
| Vacuum Cleaners| 39002.42|Themselves team r...|Electronics|           87|      GoPro|   1.6|     Tiffanymouth|
+----------------+---------+--------------------+-----------+-------------+-----------+------+-----------------+
only showing top 20 rows

In [198]:
df_q = df.withColumnRenamed('product_name','iteams_list')
df_q.show()

+------------------+------+--------------------+--------+-------------+------------+------+------------------+
|       iteams_list| Price|         Description|Category|StockQuantity|       Brand|Rating|         Warehouse|
+------------------+------+--------------------+--------+-------------+------------+------+------------------+
|         Card Game|363.33|Whom those term b...|    Toys|           95|        Nerf|   2.6|        Emilyburgh|
|          Toy Boat|  79.6|Listen economy ge...|    Toys|           34|      Barbie|   2.8|  North Jamesmouth|
|     Action Figure|432.64|Lead back her local.|    Toys|            8|        Nerf|   4.6|  West Joshuahaven|
|      Rubik's Cube|215.39|Watch growth inve...|    Toys|         NULL|      Barbie|   3.5|   Mckenziechester|
|       Barbie Doll|  NULL|                NULL|    Toys|           38|   DC Comics|   1.2|     Catherineside|
|    Stuffed Animal|220.09|Computer little f...|    Toys|           76|      Chicco|   2.3|         Bryanport|
|Remote Control Car|460.26|Seem expect they ...|    Toys|           36|      Hasbro|   2.8|   East Brianmouth|
|            Puzzle|  5.75|Box seven never t...|    Toys|           37|        NULL|   0.0|        Traceytown|
|              NULL|439.53|For family state ...|    Toys|           55|  Hot Wheels|   3.7|       Courtneyton|
|     Action Figure| 363.7|Race drive contro...|    Toys|           99|Transformers|   2.1|North Hollyborough|
|         Toy Train|254.84|Home card phone m...|    Toys|           88|Fisher-Price|   1.7|    West Lindafort|
|        Toy Guitar| 58.86|Close gas large e...|    Toys|           22|  Paw Patrol|   1.7|       South Linda|
|Remote Control Car|224.88|Appear standard l...|    Toys|            6|  Hot Wheels|   1.1|         Scottberg|
|           Marbles| 406.9|Tend piece accoun...|    Toys|           68|       VTech|   0.0|       Stephenberg|
|   Building Blocks|232.24|Site executive on...|    Toys|           51|Fisher-Price|   1.5|     South Cynthia|
|           Marbles| 178.2|   Only order think.|    Toys|           22| Nickelodeon|   1.1|  Lake Erinchester|
|       Barbie Doll| 30.57|Weight team relat...|    Toys|           65|Little Tikes|   3.7|          Erinland|
|      Toy Dinosaur|260.14|Couple east sprin...|    Toys|           29|   DC Comics|   2.0|    Port Christina|
|    Stuffed Animal|381.51|Mouth news look a...|    Toys|            1|      Mattel|   1.2|      East Bethany|
|        Board Game|342.79|Speak phone respo...|    Toys|           45|Little Tikes|   2.7|          Markfort|
+------------------+------+--------------------+--------+-------------+------------+------+------------------+
only showing top 20 rows

In [199]:
df_trimmed = df.select(trim(df["Category"]).alias("trimmed_text"))
df_trimmed.show()

+------------+
|trimmed_text|
+------------+
|        Toys|
|        Toys|
|        Toys|
|        Toys|
|        Toys|
|        Toys|
|        Toys|
|        Toys|
|        Toys|
|        Toys|
|        Toys|
|        Toys|
|        Toys|
|        Toys|
|        Toys|
|        Toys|
|        Toys|
|        Toys|
|        Toys|
|        Toys|
+------------+
only showing top 20 rows

In [205]:
grouped_df = df.groupBy("Category").count()
grouped_df.show()

+-----------+-----+
|   Category|count|
+-----------+-----+
|       NULL|    5|
|Electronics|  148|
|      Books|  150|
|  Furniture|  149|
|Accessories|  150|
|   clothing|  300|
|  cosmetics|  149|
|       Toys|  149|
+-----------+-----+

In [213]:
joined_df = df1.join(df,"Category","left")
joined_df.show()

AnalysisException: [UNRESOLVED_USING_COLUMN_FOR_JOIN] USING column `Category` cannot be resolved on the left side of the join. The left-side columns: [`customer_email`, `customer_id`, `customer_name`, `order_date`, `order_id`, `order_status`, `product_id`, `quantity`, `shipping_address`].