<a href="https://colab.research.google.com/github/Vandan1009/python_1/blob/main/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install faker

Collecting faker
  Downloading Faker-27.0.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)
Downloading Faker-27.0.0-py3-none-any.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 19.6 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-27.0.0

In [3]:
from faker import Faker
fake = Faker()

In [4]:
print(fake.name())

Kelly White

In [5]:
print(fake.email())

tyleramber@example.com

In [6]:
print(fake.country())

Lithuania

In [7]:
print(fake.country())

India

In [8]:
print(fake.name())

Mitchell Lynch

In [9]:
print(fake.text())

Man ask southern. Either piece happen without. Everybody party car majority TV.
Dream collection court common class seek face. Example chair discussion sing major.

In [10]:
print(fake.latitude(), fake.longitude())

-26.852241 -105.465291

In [11]:
print(fake.url())

http://www.wright.com/

In [34]:
import pandas as pd
from random import randint, uniform, choice
from faker import Faker

fake = Faker()

def input_data(x):
    # List of product names for the accessories category
    accessories = ['belt', 'earring', 'glasses', 'glove', 'handbags', 'sun glasses', 'hat', 'watch', 'ring', 'necktie', 'helmet']

    # pandas dataframe
    data = pd.DataFrame()
    for i in range(0, x):
        data.loc[i, 'product_name'] = choice(accessories)
        data.loc[i, 'Price'] = round(uniform(10.0, 1000.0), 2)
        data.loc[i, 'Description'] = fake.sentence()
        data.loc[i, 'Category'] = 'accessories'
        data.loc[i, 'StockQuantity'] = randint(1, 100)
        data.loc[i, 'Brand'] = fake.company()
        data.loc[i, 'Rating'] = round(uniform(1.0, 5.0), 1)
        data.loc[i, 'Warehouse'] = fake.city()
    return data

# Example usage
input_data(10)

,product_name,Price,Description,Category,StockQuantity,Brand,Rating,Warehouse
0,ring,622.21,Energy work last game around throw.,accessories,47.0,"Serrano, Valentine and Caldwell",2.9,Amyfurt
1,glasses,531.09,Yourself environment cup recognize interesting...,accessories,31.0,Miller Ltd,1.3,Cindybury
2,earring,742.38,National hope customer.,accessories,10.0,Mccoy-Johnson,1.8,Lake Josephburgh
3,watch,533.20,Task third difference forget customer stuff.,accessories,100.0,Diaz and Sons,2.4,Rossmouth
4,hat,57.79,Service check act within human upon performance.,accessories,74.0,Curtis-Mcdonald,4.4,East Mitchellmouth
5,hat,878.76,Million their let over.,accessories,17.0,Merritt PLC,3.1,Lake Mallory
6,belt,128.95,Hear that rock your view.,accessories,56.0,Suarez-Luna,3.9,Andersonburgh
7,belt,848.46,Buy against church into leader Democrat carry.,accessories,62.0,Hernandez Ltd,1.7,Birdhaven
8,glove,480.60,Stage ground itself boy.,accessories,91.0,"Blair, Sullivan and Gonzales",3.2,North Emily
9,necktie,53.90,Across yourself couple million always place.,accessories,59.0,"Miller, Brady and Terry",4.9,Andrewfort

In [35]:
import pandas as pd
from random import randint, uniform, choice
from faker import Faker

fake = Faker()

def input_data(x):
    # List of product names for the accessories category
    accessories = ['Belt','Earring','Glasses','Glove','Handbag','Hat','Helmet','Necktie','Perfume','Ring','Sash','Sunglasses','Umbrella','Watch','Anklets','Bangles and Bracelets','Brooches and Pins','Cuff Links and Studs','Hair Accessories','Handkerchiefs and Pocket Squares','Luggage','Necklaces and Pendants','Wallets']

    # List of brand names for the accessories category
    brands = ['Gucci','Fossil', 'Prada','Kate Spade','Tory Burch','Bvlgari','Cartier','Swarovski','Ray-Ban','Oakley', 'Louis Vuitton', 'Chanel','Michael Kors','Coach', 'Hermes', 'Fendi', 'Balenciaga', 'Dior', 'Versace', 'Burberry']

    # pandas dataframe
    data = pd.DataFrame()
    for i in range(0, x):
        data.loc[i, 'product_name'] = choice(accessories)
        data.loc[i, 'Price'] = round(uniform(100.0, 10000.0), 2)
        data.loc[i, 'Description'] = fake.sentence()
        data.loc[i, 'Category'] = 'accessories'
        data.loc[i, 'StockQuantity'] = randint(1, 100)
        data.loc[i, 'Brand'] = choice(brands)
        data.loc[i, 'Rating'] = round(uniform(1.0, 5.0), 1)
        data.loc[i, 'Warehouse'] = fake.city()
    return data

# Example usage
input_data(10)

,product_name,Price,Description,Category,StockQuantity,Brand,Rating,Warehouse
0,Umbrella,4054.28,Research guy worry writer employee federal how...,accessories,61.0,Coach,4.5,Riceville
1,Handbag,6430.04,Type on best firm strong.,accessories,84.0,Coach,2.3,North Melindaview
2,Belt,2374.97,Ever investment interest national.,accessories,55.0,Coach,4.5,North Nathantown
3,Handbag,1818.04,Fly relate couple himself east.,accessories,78.0,Swarovski,4.0,North Latoya
4,Sunglasses,9133.68,Remain able car its star interview.,accessories,4.0,Louis Vuitton,1.9,Dunlapside
5,Brooches and Pins,8028.47,High leave coach everybody better gas tough.,accessories,68.0,Prada,3.1,Lucasshire
6,Luggage,2414.41,Six church pay shoulder class worry mouth.,accessories,89.0,Burberry,1.1,Tiffanyshire
7,Anklets,7759.27,Discuss push marriage person agree language pay.,accessories,37.0,Michael Kors,2.3,Kelseyside
8,Handkerchiefs and Pocket Squares,2711.82,Picture institution little civil financial sound.,accessories,27.0,Fossil,1.0,Port Wendyview
9,Hair Accessories,9737.22,Price follow thank away interesting appear.,accessories,22.0,Dior,4.0,Erikaberg

In [36]:
import pandas as pd
from random import randint, uniform, choice
from faker import Faker

fake = Faker()

# List of book categories
book_categories = [
    "Fantasy", "Science Fiction", "Mystery", "Horror", "Historical Fiction", "Women’s Fiction",
    "Literary Fiction", "Magic Realism", "Graphic Novel", "Short Story", "Young Adult", "New Adult",
    "Dystopian", "Action & Adventure", "Thriller & Suspense", "Romance", "Children’s", "Contemporary Fiction",
    "Biography", "Self-Help", "History", "Memoir & Autobiography", "Food & Drink", "Art & Photography", "Travel"
]

def input_data(x):
    # pandas dataframe
    data = pd.DataFrame()
    for i in range(0, x):
        data.loc[i, 'product_name'] = choice(book_categories)
        data.loc[i, 'Price'] = round(uniform(100.0, 4000.0), 2)
        data.loc[i, 'Description'] = fake.sentence()
        data.loc[i, 'Category'] = 'Books'
        data.loc[i, 'StockQuantity'] = randint(1, 100)
        data.loc[i, 'Brand'] = fake.company()
        data.loc[i, 'Rating'] = round(uniform(1.0, 5.0), 1)
        data.loc[i, 'Warehouse'] = fake.city()
        #print(data.info())
    return data

# Example usage
input_data(10)

,product_name,Price,Description,Category,StockQuantity,Brand,Rating,Warehouse
0,Food & Drink,1192.94,Dog stay measure decide.,Books,91.0,"Fritz, Thomas and Duncan",4.6,East Carolynmouth
1,Young Adult,2217.63,Story more some baby mention society source.,Books,80.0,Price-Schmidt,3.6,Daleport
2,Short Story,975.12,Until admit executive simple.,Books,20.0,Peterson Group,5.0,Lake Marcus
3,History,286.83,Voice face claim investment.,Books,50.0,Wilson-Barnes,1.8,South Michaelfort
4,Horror,3978.17,Message drug material single change cause.,Books,94.0,Martinez LLC,3.3,East Victorside
5,Biography,597.89,Speech real quite other.,Books,91.0,Smith-Johnson,1.1,Jamesview
6,Action & Adventure,2199.33,Second population car young describe.,Books,93.0,Sanchez-Bowman,1.9,New Jonathan
7,Historical Fiction,2163.69,Under give apply determine third career suggest.,Books,70.0,"Russell, Davis and Thompson",3.5,Dianatown
8,History,718.17,Rest third strategy student century yeah pick.,Books,6.0,Mueller and Sons,5.0,Smithfort
9,Women’s Fiction,1451.17,Wait a work teach simple.,Books,16.0,Larsen Ltd,4.8,Hicksshire

In [37]:
import pandas as pd
from random import randint, uniform, choice
from faker import Faker

fake = Faker()

# List of book categories
book_categories = [
    "Fantasy", "Science Fiction", "Mystery", "Horror", "Historical Fiction", "Women’s Fiction",
    "Literary Fiction", "Magic Realism", "Graphic Novel", "Short Story", "Young Adult", "New Adult",
    "Dystopian", "Action & Adventure", "Thriller & Suspense", "Romance", "Children’s", "Contemporary Fiction",
    "Biography", "Self-Help", "History", "Memoir & Autobiography", "Food & Drink", "Art & Photography", "Travel"
]

def input_data(x):
    # pandas dataframe
    data = pd.DataFrame()
    for i in range(0, x):
        data.loc[i, 'product_name'] = choice(book_categories)
        data.loc[i, 'Price'] = round(uniform(10.0, 1000.0), 2)
        data.loc[i, 'Description'] = fake.sentence()
        data.loc[i, 'Category'] = 'Books'
        data.loc[i, 'Author'] = fake.name()
        data.loc[i, 'StockQuantity'] = randint(1, 100)
        data.loc[i, 'Brand'] = fake.company()
        data.loc[i, 'Rating'] = round(uniform(1.0, 5.0), 1)
        data.loc[i, 'Warehouse'] = fake.city()
    return data

# Example usage
input_data(10)

,product_name,Price,Description,Category,Author,StockQuantity,Brand,Rating,Warehouse
0,Science Fiction,134.37,Score indeed west write record reason drug.,Books,Megan Ferguson,14.0,Taylor-Jones,4.7,Pratttown
1,Horror,200.63,Cover play seat accept hear trial.,Books,Michele Knight,3.0,Frank Inc,2.4,Jameshaven
2,Thriller & Suspense,211.44,Risk whole owner ask with table.,Books,Alexis Harrington,72.0,Turner and Sons,4.6,Williamtown
3,Graphic Novel,436.33,Seven water us.,Books,Gregory Long,29.0,"Walker, Porter and Brown",2.0,Fernandezton
4,Fantasy,575.63,Run in seek human political.,Books,Christopher Ortiz,35.0,"Ellis, Price and Lyons",4.4,East Ricardofurt
5,Biography,760.41,Buy per prevent anything investment.,Books,Kendra Gates,44.0,Brennan-Morris,3.3,South Jennifer
6,Self-Help,476.68,Congress some really everyone country world ne...,Books,Angel Meyer,20.0,Harrington-Brown,4.8,West Amandaside
7,Short Story,821.96,Plant arrive opportunity administration southern.,Books,Paul Davis,67.0,Jones Ltd,2.9,Patriciafurt
8,History,160.45,Civil discuss company cause.,Books,Danny Hall,7.0,Johnson-Phillips,4.9,North Denise
9,Self-Help,363.47,None factor base order behind.,Books,Evan Hammond,52.0,Rhodes and Sons,3.8,South Elizabeth

In [38]:
import pandas as pd
from random import randint, uniform, choice
from faker import Faker

fake = Faker()

# List of book categories
book_categories = [
    "Fantasy", "Science Fiction", "Mystery", "Horror", "Historical Fiction", "Women’s Fiction",
    "Literary Fiction", "Magic Realism", "Graphic Novel", "Short Story", "Young Adult", "New Adult",
    "Dystopian", "Action & Adventure", "Thriller & Suspense", "Romance", "Children’s", "Contemporary Fiction",
    "Biography", "Self-Help", "History", "Memoir & Autobiography", "Food & Drink", "Art & Photography", "Travel"
]

def input_data_v1(x):
    data = pd.DataFrame()
    for i in range(0, x):
        data.loc[i, 'product_name'] = choice(book_categories)
        data.loc[i, 'Price'] = round(uniform(100.0, 4000.0), 2)
        data.loc[i, 'Description'] = fake.sentence()
        data.loc[i, 'Category'] = 'Books'
        data.loc[i, 'StockQuantity'] = randint(1, 100)
        data.loc[i, 'Brand'] = fake.company()
        data.loc[i, 'Rating'] = round(uniform(1.0, 5.0), 1)
        data.loc[i, 'Warehouse'] = fake.city()
    return data

def input_data_v2(x):
    data = pd.DataFrame()
    for i in range(0, x):
        data.loc[i, 'product_name'] = choice(book_categories)
        data.loc[i, 'Price'] = round(uniform(10.0, 1000.0), 2)
        data.loc[i, 'Description'] = fake.sentence()
        data.loc[i, 'Category'] = 'Books'
        #data.loc[i, 'Author'] = fake.name()
        data.loc[i, 'StockQuantity'] = randint(1, 100)
        data.loc[i, 'Brand'] = fake.company()
        data.loc[i, 'Rating'] = round(uniform(1.0, 5.0), 1)
        data.loc[i, 'Warehouse'] = fake.city()
    return data

# Generate data
df1 = input_data_v1(10)
df2 = input_data_v2(10)

# Combine dataframes
combined_df = pd.concat([df1, df2], axis = 0)
#combined_df2 = pd.stack((df1,df2))
# input_accessories_data(10)
# input_books_data(10)


print(combined_df)


#print(combined_df)

           product_name    Price  \
0         Graphic Novel   385.28
1       Women’s Fiction   739.00
2             Dystopian  2636.17
3                Travel  3239.16
4    Action & Adventure  1150.48
5  Contemporary Fiction  2928.79
6    Historical Fiction  2327.54
7      Literary Fiction  1630.80
8   Thriller & Suspense  3672.86
9       Science Fiction  2883.86
0                Travel   104.22
1          Food & Drink   321.29
2    Action & Adventure   819.84
3               Fantasy   704.00
4           Short Story   339.50
5             Biography   413.02
6           Short Story   246.59
7             Biography   762.91
8               History   164.40
9               Romance   363.71

                                         Description Category  StockQuantity  \
0        We determine citizen live per without last.    Books            8.0
1               Industry several treat across fight.    Books           37.0
2                Fill fast loss up organization one.    Books            5.0
3            Sometimes foot artist billion kid fear.    Books           12.0
4                          Family clear drop school.    Books           60.0
5                            Ask then mention mouth.    Books           99.0
6  Strong account structure work natural night me...    Books           63.0
7                        New interview example fund.    Books           19.0
8                              Rate your seek happy.    Books           28.0
9  Leader make benefit expert record large beyond...    Books           13.0
0                Five describe when far boy prevent.    Books            3.0
1                     About tell politics knowledge.    Books           59.0
2  He time similar want executive very probably b...    Books            5.0
3          Quality across American social cost tend.    Books            5.0
4     Same piece glass provide interest information.    Books           10.0
5                          War enter every put with.    Books          100.0
6                             And then there weight.    Books           83.0
7            Certain away serious specific shoulder.    Books           67.0
8                            Today head tax imagine.    Books           80.0
9  Senior section anyone camera event world chall...    Books           46.0

                              Brand  Rating             Warehouse
0                     Cervantes LLC     4.1    Lake Arthurchester
1                       Fowler-Beck     1.8             Cohenstad
2                       Hall-Jordan     3.5          West Kenneth
3      Perkins, Rodriguez and Smith     4.4            North Alec
4                    Daniel-Johnson     4.0              Dawnland
5                        Bright LLC     4.7             Debraport
6                         Smith LLC     1.3              Adambury
7     Stewart, Powell and Wilkerson     5.0             Kellyport
8                    Calderon Group     2.4  Port Michelleborough
9                  Ellison and Sons     2.1      South Kevinburgh
0         Brown, Fisher and Daniels     2.3            Barronstad
1  Whitehead, Zimmerman and Johnson     2.8        Griffinborough
2          Knight, Burke and Harris     3.9         Rogersborough
3                  Roberts-Santiago     4.4           Whitneyfort
4    Fitzgerald, Robinson and Roman     4.0    Lake Christinestad
5                  Edwards-Santiago     2.6             Julieland
6            Smith, Jacobson and Wu     2.0              Ryanbury
7                          Reed Inc     3.8         Nathanchester
8                       Smith Group     3.4              Maryland
9                         Davis PLC     5.0             West Paul

In [40]:
import pandas as pd
from random import randint, uniform, choice
from faker import Faker

fake = Faker()

# List of book categories
book_categories = [
    "Fantasy", "Science Fiction", "Mystery", "Horror", "Historical Fiction", "Women’s Fiction",
    "Literary Fiction", "Magic Realism", "Graphic Novel", "Short Story", "Young Adult", "New Adult",
    "Dystopian", "Action & Adventure", "Thriller & Suspense", "Romance", "Children’s", "Contemporary Fiction",
    "Biography", "Self-Help", "History", "Memoir & Autobiography", "Food & Drink", "Art & Photography", "Travel"
]

def input_books_data(x):
    data = pd.DataFrame()
    for i in range(0, x):
        data.loc[i, 'product_name'] = choice(book_categories)
        data.loc[i, 'Price'] = round(uniform(100.0, 4000.0), 2)
        data.loc[i, 'Description'] = fake.sentence()
        data.loc[i, 'Category'] = 'Books'
        data.loc[i, 'StockQuantity'] = randint(1, 100)
        data.loc[i, 'Brand'] = fake.company()
        data.loc[i, 'Rating'] = round(uniform(1.0, 5.0), 1)
        data.loc[i, 'Warehouse'] = fake.city()
    return data

def input_accessories_data(x):
    accessories = ['Belt','Earring','Glasses','Glove','Handbag','Hat','Helmet','Necktie','Perfume','Ring','Sash','Sunglasses','Umbrella','Watch','Anklets','Bangles and Bracelets','Brooches and Pins','Cuff Links and Studs','Hair Accessories','Handkerchiefs and Pocket Squares','Luggage','Necklaces and Pendants','Wallets']
    brands = ['Gucci','Fossil', 'Prada','Kate Spade','Tory Burch','Bvlgari','Cartier','Swarovski','Ray-Ban','Oakley', 'Louis Vuitton', 'Chanel','Michael Kors','Coach', 'Hermes', 'Fendi', 'Balenciaga', 'Dior', 'Versace', 'Burberry']

    data = pd.DataFrame()
    for i in range(0, x):
        data.loc[i, 'product_name'] = choice(accessories)
        data.loc[i, 'Price'] = round(uniform(100.0, 10000.0), 2)
        data.loc[i, 'Description'] = fake.sentence()
        data.loc[i, 'Category'] = 'Accessories'
        data.loc[i, 'StockQuantity'] = randint(1, 100)
        data.loc[i, 'Brand'] = choice(brands)
        data.loc[i, 'Rating'] = round(uniform(1.0, 5.0), 1)
        data.loc[i, 'Warehouse'] = fake.city()
    return data


# Generate data
books_data = input_books_data(10)
accessories_data = input_accessories_data(10)

# Combine dataframes
combined_data = pd.concat([books_data, accessories_data], ignore_index=True)

# print(combined_data)
input_accessories_data(10)
input_books_data(10)
combined_data.to_csv('my_dataframe.csv', index=False)

In [43]:
#Books
def input_books_data(x):
    # List of book categories
    book_categories = [
    "Fantasy", "Science Fiction", "Mystery", "Horror", "Historical Fiction", "Women’s Fiction",
    "Literary Fiction", "Magic Realism", "Graphic Novel", "Short Story", "Young Adult", "New Adult",
    "Dystopian", "Action & Adventure", "Thriller & Suspense", "Romance", "Children’s", "Contemporary Fiction",
    "Biography", "Self-Help", "History", "Memoir & Autobiography", "Food & Drink", "Art & Photography", "Travel"
    ]

    data = pd.DataFrame()
    for i in range(0, x):
        data.loc[i, 'product_name'] = choice(book_categories)
        data.loc[i, 'Price'] = round(uniform(100.0, 4000.0), 2)
        data.loc[i, 'Description'] = fake.sentence()
        data.loc[i, 'Category'] = 'Books'
        data.loc[i, 'StockQuantity'] = randint(1, 100)
        data.loc[i, 'Brand'] = fake.company()
        data.loc[i, 'Rating'] = round(uniform(1.0, 5.0), 1)
        data.loc[i, 'Warehouse'] = fake.city()
    return data

#Accessories
def input_accessories_data(x):
    #List of accessories types
    accessories = ['Belt','Earring','Glasses','Glove','Handbag','Hat','Helmet',
                   'Necktie','Perfume','Ring','Sash','Sunglasses','Umbrella',
                   'Watch','Anklets','Bangles and Bracelets','Brooches and Pins',
                   'Cuff Links and Studs','Hair Accessories','Handkerchiefs and Pocket Squares',
                   'Luggage','Necklaces and Pendants','Wallets']

    #List of accessories brands
    brands = ['Gucci','Fossil', 'Prada','Kate Spade','Tory Burch','Bvlgari','Cartier',
              'Swarovski','Ray-Ban','Oakley', 'Louis Vuitton', 'Chanel','Michael Kors',
              'Coach', 'Hermes', 'Fendi', 'Balenciaga', 'Dior', 'Versace', 'Burberry']

    data = pd.DataFrame()
    for i in range(0, x):
        data.loc[i, 'product_name'] = choice(accessories)
        data.loc[i, 'Price'] = round(uniform(100.0, 10000.0), 2)
        data.loc[i, 'Description'] = fake.sentence()
        data.loc[i, 'Category'] = 'Accessories'
        data.loc[i, 'StockQuantity'] = randint(1, 100)
        data.loc[i, 'Brand'] = choice(brands)
        data.loc[i, 'Rating'] = round(uniform(1.0, 5.0), 1)
        data.loc[i, 'Warehouse'] = fake.city()
    return data

# Generate data
books_data = input_books_data(150)
accessories_data = input_accessories_data(150)

# Combine dataframes
combined_data_van = pd.concat([books_data, accessories_data], ignore_index=True)

#convert combined dataframe to csv file
combined_data_van.to_csv('van_df.csv', index=False)
#clothing def input_clothing_data(x):     #... by Akshitha Gandham
Akshitha Gandham
12:22
#clothing
def input_clothing_data(x):
    # List of product names for the clothing category
    product_names = ["T-shirts", "Jeans", "Dresses", "Skirts", "Blouses",
                     "Sweaters", "Hoodies", "Jackets", "Coats", "Shorts",
                      "Leggings", "Suits", "Blazers", "Cardigans", "Tank tops",
                     "Polo shirts", "Sweatpants", "Joggers", "Overalls", "Jumpsuits",
                     "Rompers", "Swimwear", "Socks", "Scarves",
                     "Hats", "Gloves", "Belts", "Activewear", "Loungewear",
                     "Nightwear", "Formal wear","Casual wear"]

    # List of brands for the clothing category
    brands = ["Zara", "H&M", "Uniqlo", "ASOS", "Mango", "Forever 21", "Urban Outfitters",
              "Boohoo", "Shein", "Revolve", "Nordstrom", "Saks Fifth Avenue",
              "Shopbop", "Everlane", "Reformation", "Bandier", "T.J. Maxx",
              "Eloquii", "Farfetch", "Anthropologie", "Free People", "Madewell",
              "J.Crew", "Net-a-Porter", "MatchesFashion", "SSENSE", "Mytheresa",
              "COS", "Topshop", "Levi's", "Nike", "Adidas", "Puma", "Gucci", "Prada",
              "Burberry", "Balenciaga", "Saint Laurent", "Versace", "Tommy Hilfiger"]

    # pandas dataframe
    data = pd.DataFrame()
    for i in range(0, x):
        data.loc[i, 'product_name'] = choice(product_names)
        data.loc[i, 'Price'] = round(uniform(100.0, 5000.0), 2)
        data.loc[i, 'Description'] = fake.sentence()
        data.loc[i, 'Category'] = 'clothing'
        data.loc[i, 'StockQuantity'] = randint(1, 100)
        data.loc[i, 'Brand'] = choice(brands)
        data.loc[i, 'Rating'] = round(uniform(1.0, 5.0), 1)
        data.loc[i, 'Warehouse'] = fake.city()
    return data

def input_footwear_data(x):
    # List of product names for the footwear category
    product_names = ["Sneakers", "Running Shoes", "Loafers", "Oxfords", "Derby Shoes",
                     "Brogues", "Monk Straps", "Chelsea Boots", "Chukka Boots", "Desert Boots",
                      "Hiking Boots", "Work Boots", "Combat Boots", "Cowboy Boots",
                     "Rain Boots", "Snow Boots", "Sandals", "Flip Flops", "Slides", "Espadrilles",
                      "Boat Shoes", "Moccasins", "Ballet Flats", "Mary Janes", "Wedges",
                     "Stilettos", "Pumps", "Kitten Heels", "Block Heels", "Platform Shoes",
                      "Clogs", "Mules", "Ankle Boots", "Knee-High Boots", "Thigh-High Boots",
                     "Dress Shoes", "Casual Shoes", "Athletic Shoes", "Dance Shoes", "Skate Shoes"]

    # List of brands for the footwear category
    brands = ["Nike", "Adidas", "Puma", "Reebok", "New Balance", "Asics", "Under Armour",
              "Skechers", "Vans", "Converse","Timberland", "Dr. Martens", "Birkenstock",
              "Clarks", "Crocs", "UGG", "Steve Madden", "Aldo", "Cole Haan", "ECCO",
              "Merrell", "Salomon", "Hoka One One", "Brooks", "Saucony", "Mizuno",
              "Fila", "Keds", "Toms", "Sperry", "Teva", "Keen", "Chaco", "Hunter",
              "Sam Edelman", "Stuart Weitzman", "Jimmy Choo", "Manolo Blahnik",
              "Christian Louboutin", "Gucci"]

    # pandas dataframe
    data = pd.DataFrame()
    for i in range(0, x):
        data.loc[i, 'product_name'] = choice(product_names)
        data.loc[i, 'Price'] = round(uniform(100.0, 5000.0), 2)
        data.loc[i, 'Description'] = fake.sentence()
        data.loc[i, 'Category'] = 'clothing'
        data.loc[i, 'StockQuantity'] = randint(1, 100)
        data.loc[i, 'Brand'] = choice(brands)
        data.loc[i, 'Rating'] = round(uniform(1.0, 5.0), 1)
        data.loc[i, 'Warehouse'] = fake.city()
    return data

#Generate data
clothing_data = input_clothing_data(150)
footwear_data = input_footwear_data(150)

#combine dataframes
combined_data_aks = pd.concat([clothing_data,footwear_data], ignore_index=True, axis=0)

#convert combined dataframe to csv file
combined_data_aks.to_csv('aks_df.csv', index=False)
aks_van = pd.concat([combined_data_aks,comb... by Akshitha Gandham
Akshitha Gandham
12:23
aks_van = pd.concat([combined_data_aks,combined_data_van], ignore_index=True, axis=0)
aks_van.to_csv('aks_van.csv', index=False)
has context menu

SyntaxError: invalid syntax (<ipython-input-43-e868f887a3aa>, line 59)

In [45]:
#Books
def input_books_data(x):
    # List of book categories
    book_categories = [
    "Fantasy", "Science Fiction", "Mystery", "Horror", "Historical Fiction", "Women’s Fiction",
    "Literary Fiction", "Magic Realism", "Graphic Novel", "Short Story", "Young Adult", "New Adult",
    "Dystopian", "Action & Adventure", "Thriller & Suspense", "Romance", "Children’s", "Contemporary Fiction",
    "Biography", "Self-Help", "History", "Memoir & Autobiography", "Food & Drink", "Art & Photography", "Travel"
    ]

    data = pd.DataFrame()
    for i in range(0, x):
        data.loc[i, 'product_name'] = choice(book_categories)
        data.loc[i, 'Price'] = round(uniform(100.0, 4000.0), 2)
        data.loc[i, 'Description'] = fake.sentence()
        data.loc[i, 'Category'] = 'Books'
        data.loc[i, 'StockQuantity'] = randint(1, 100)
        data.loc[i, 'Brand'] = fake.company()
        data.loc[i, 'Rating'] = round(uniform(1.0, 5.0), 1)
        data.loc[i, 'Warehouse'] = fake.city()
    return data

#Accessories
def input_accessories_data(x):
    #List of accessories types
    accessories = ['Belt','Earring','Glasses','Glove','Handbag','Hat','Helmet',
                   'Necktie','Perfume','Ring','Sash','Sunglasses','Umbrella',
                   'Watch','Anklets','Bangles and Bracelets','Brooches and Pins',
                   'Cuff Links and Studs','Hair Accessories','Handkerchiefs and Pocket Squares',
                   'Luggage','Necklaces and Pendants','Wallets']

    #List of accessories brands
    brands = ['Gucci','Fossil', 'Prada','Kate Spade','Tory Burch','Bvlgari','Cartier',
              'Swarovski','Ray-Ban','Oakley', 'Louis Vuitton', 'Chanel','Michael Kors',
              'Coach', 'Hermes', 'Fendi', 'Balenciaga', 'Dior', 'Versace', 'Burberry']

    data = pd.DataFrame()
    for i in range(0, x):
        data.loc[i, 'product_name'] = choice(accessories)
        data.loc[i, 'Price'] = round(uniform(100.0, 10000.0), 2)
        data.loc[i, 'Description'] = fake.sentence()
        data.loc[i, 'Category'] = 'Accessories'
        data.loc[i, 'StockQuantity'] = randint(1, 100)
        data.loc[i, 'Brand'] = choice(brands)
        data.loc[i, 'Rating'] = round(uniform(1.0, 5.0), 1)
        data.loc[i, 'Warehouse'] = fake.city()
    return data

# Generate data
books_data = input_books_data(150)
accessories_data = input_accessories_data(150)

# Combine dataframes
combined_data_van = pd.concat([books_data, accessories_data], ignore_index=True)

#convert combined dataframe to csv file
combined_data_van.to_csv('van_df.csv', index=False)
#clothing
def input_clothing_data(x):
    # List of product names for the clothing category
    product_names = ["T-shirts", "Jeans", "Dresses", "Skirts", "Blouses",
                     "Sweaters", "Hoodies", "Jackets", "Coats", "Shorts",
                      "Leggings", "Suits", "Blazers", "Cardigans", "Tank tops",
                     "Polo shirts", "Sweatpants", "Joggers", "Overalls", "Jumpsuits",
                     "Rompers", "Swimwear", "Socks", "Scarves",
                     "Hats", "Gloves", "Belts", "Activewear", "Loungewear",
                     "Nightwear", "Formal wear","Casual wear"]

    # List of brands for the clothing category
    brands = ["Zara", "H&M", "Uniqlo", "ASOS", "Mango", "Forever 21", "Urban Outfitters",
              "Boohoo", "Shein", "Revolve", "Nordstrom", "Saks Fifth Avenue",
              "Shopbop", "Everlane", "Reformation", "Bandier", "T.J. Maxx",
              "Eloquii", "Farfetch", "Anthropologie", "Free People", "Madewell",
              "J.Crew", "Net-a-Porter", "MatchesFashion", "SSENSE", "Mytheresa",
              "COS", "Topshop", "Levi's", "Nike", "Adidas", "Puma", "Gucci", "Prada",
              "Burberry", "Balenciaga", "Saint Laurent", "Versace", "Tommy Hilfiger"]

    # pandas dataframe
    data = pd.DataFrame()
    for i in range(0, x):
        data.loc[i, 'product_name'] = choice(product_names)
        data.loc[i, 'Price'] = round(uniform(100.0, 5000.0), 2)
        data.loc[i, 'Description'] = fake.sentence()
        data.loc[i, 'Category'] = 'clothing'
        data.loc[i, 'StockQuantity'] = randint(1, 100)
        data.loc[i, 'Brand'] = choice(brands)
        data.loc[i, 'Rating'] = round(uniform(1.0, 5.0), 1)
        data.loc[i, 'Warehouse'] = fake.city()
    return data

def input_footwear_data(x):
    # List of product names for the footwear category
    product_names = ["Sneakers", "Running Shoes", "Loafers", "Oxfords", "Derby Shoes",
                     "Brogues", "Monk Straps", "Chelsea Boots", "Chukka Boots", "Desert Boots",
                      "Hiking Boots", "Work Boots", "Combat Boots", "Cowboy Boots",
                     "Rain Boots", "Snow Boots", "Sandals", "Flip Flops", "Slides", "Espadrilles",
                      "Boat Shoes", "Moccasins", "Ballet Flats", "Mary Janes", "Wedges",
                     "Stilettos", "Pumps", "Kitten Heels", "Block Heels", "Platform Shoes",
                      "Clogs", "Mules", "Ankle Boots", "Knee-High Boots", "Thigh-High Boots",
                     "Dress Shoes", "Casual Shoes", "Athletic Shoes", "Dance Shoes", "Skate Shoes"]

    # List of brands for the footwear category
    brands = ["Nike", "Adidas", "Puma", "Reebok", "New Balance", "Asics", "Under Armour",
              "Skechers", "Vans", "Converse","Timberland", "Dr. Martens", "Birkenstock",
              "Clarks", "Crocs", "UGG", "Steve Madden", "Aldo", "Cole Haan", "ECCO",
              "Merrell", "Salomon", "Hoka One One", "Brooks", "Saucony", "Mizuno",
              "Fila", "Keds", "Toms", "Sperry", "Teva", "Keen", "Chaco", "Hunter",
              "Sam Edelman", "Stuart Weitzman", "Jimmy Choo", "Manolo Blahnik",
              "Christian Louboutin", "Gucci"]

    # pandas dataframe
    data = pd.DataFrame()
    for i in range(0, x):
        data.loc[i, 'product_name'] = choice(product_names)
        data.loc[i, 'Price'] = round(uniform(100.0, 5000.0), 2)
        data.loc[i, 'Description'] = fake.sentence()
        data.loc[i, 'Category'] = 'footwear'
        data.loc[i, 'StockQuantity'] = randint(1, 100)
        data.loc[i, 'Brand'] = choice(brands)
        data.loc[i, 'Rating'] = round(uniform(1.0, 5.0), 1)
        data.loc[i, 'Warehouse'] = fake.city()
    return data

#Generate data
clothing_data = input_clothing_data(150)
footwear_data = input_footwear_data(150)

#combine dataframes
combined_data_aks = pd.concat([clothing_data,footwear_data], ignore_index=True, axis=0)

#convert combined dataframe to csv file
combined_data_aks.to_csv('aks_df.csv', index=False)

aks_van = pd.concat([combined_data_aks,combined_data_van], ignore_index=True, axis=0)
aks_van.to_csv('aks_van.csv', index=False)

In [7]:
import pandas as pd
import random
from datetime import datetime, timedelta
from faker import Faker

# Initialize Faker
fake = Faker()

# Sample data
order_statuses = ['Pending', 'Shipped', 'Delivered', 'Cancelled']
product_ids = [101, 102, 103, 104]

# Generate orders
orders = [{
    'order_id': i,
    'customer_id': random.randint(1, 100),
    'customer_name': fake.name(),
    'product_id': random.choice(product_ids),
    'customer_email': fake.email(),
    'quantity': random.randint(1, 5),
    'order_date': (datetime.now() - timedelta(days=random.randint(1, 30))).strftime('%Y-%m-%d'),
    'order_status': random.choice(order_statuses),
    'shipping_address': fake.address()
} for i in range(1, 11)]  # Adjust the range to change the number of orders

# Create DataFrame
df = pd.DataFrame(orders)

print(df)

   order_id  customer_id   customer_name  product_id  \
0         1           18      Kurt Allen         102
1         2           88  Keith Browning         101
2         3           70  Justin Johnson         101
3         4           56  Bradley Mosley         103
4         5           72  Brooke Wallace         103
5         6           27      Lisa Olson         103
6         7           41  Monica Johnson         103
7         8           89      Larry Hall         102
8         9            5       Amy Terry         102
9        10           88      Amy Cooper         103

               customer_email  quantity  order_date order_status  \
0         wmurphy@example.org         4  2024-07-17    Delivered
1     aaronmalone@example.org         2  2024-07-23      Shipped
2     katherine30@example.org         1  2024-07-31    Cancelled
3          mary50@example.net         4  2024-08-08      Pending
4       epeterson@example.com         1  2024-08-15    Cancelled
5         ktaylor@example.com         5  2024-07-25      Pending
6           xcook@example.org         5  2024-07-26    Cancelled
7    heatherayala@example.org         3  2024-07-20    Cancelled
8  obrienmichelle@example.net         1  2024-08-07      Pending
9         xrivera@example.net         4  2024-08-07    Cancelled

                                    shipping_address
0   732 Tyler Villages Apt. 665\nWest Ryan, TX 31480
1          360 Thompson Brook\nNorth Vicki, NM 27377
2  46518 Johnson Canyon Apt. 756\nRobinsonberg, G...
3   93683 Myers Port Suite 266\nBrandystad, SD 29657
4  17492 Petersen Causeway Apt. 949\nJoannton, FM...
5   6368 Baker Canyon\nSouth Cassandrafort, DC 96816
6     753 Clark Curve Suite 073\nLaurastad, VI 82636
7  65363 Gonzales Vista Suite 783\nStevensonmouth...
8    063 Sandoval Highway\nNew Anthonyport, VT 63568
9       272 Susan Fields\nEast Alyssaville, MA 73763

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=ffbbc08c2901597cde79a59b58a34007194c34cc4a8ed60aff5ca99a0f1abbfc
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [8]:
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext

In [3]:
spark=SparkSession.builder.appName('project').getOrCreate()

In [5]:
spark

In [6]:
df=spark.read.csv('/content/final_data (3).csv',header=True,inferSchema=True)

In [7]:
df.show()

+----------+--------------+------+--------------------+--------+-------------+----------------+------+--------------------+
|product_id|  product_name| Price|         Description|Category|StockQuantity|           Brand|Rating|           Warehouse|
+----------+--------------+------+--------------------+--------+-------------+----------------+------+--------------------+
|    2928.0|  Toy Tool Set| 97.19|Kid future itself...|    Toys|         49.0|          Disney|   1.1|             Hungary|
|    5349.0|  Rubik's Cube| 344.7|Range heavy thoug...|    Toys|         26.0|          Disney|   4.6|             Vietnam|
|     847.0|     Dollhouse| 80.21|Form fill yet nat...|    Toys|         70.0|Thomas & Friends|   2.8|           Singapore|
|    3463.0|  Toy Dinosaur|442.73|Low matter build ...|    Toys|         85.0|          Disney|   1.7|           Indonesia|
|    9252.0|  Rubik's Cube|182.74|Take walk step de...|    Toys|         82.0|       DC Comics|   2.3|             Ireland|
|     269.0|Stuffed Animal| 414.4|Four cup professi...|    Toys|         40.0|            Brio|   4.9|             Ireland|
|   10209.0|     Toy Train|337.68| Myself strong just.|    Toys|         42.0|           VTech|   2.1|             Hungary|
|    5230.0|       Toy Car| 16.18|Lay stay pattern ...|    Toys|         48.0|    Transformers|   4.3|              Kuwait|
|    5627.0|      Play-Doh|152.43|People rule prepa...|    Toys|         35.0|      Mega Bloks|   4.6|             Ukraine|
|    3632.0|       Toy Car|253.71|Our truth over re...|    Toys|         62.0|       Star Wars|   3.2|             Belgium|
|    2479.0|        Puzzle|  76.0|Shoulder do he im...|    Toys|         37.0|            Brio|   1.6|              Norway|
|    6036.0|Stuffed Animal|207.78|Two save probably...|    Toys|         73.0|  My Little Pony|   1.5|         New Zealand|
|     708.0|Stuffed Animal|297.43|Fund drive presen...|    Toys|         26.0|    Transformers|   2.3|               Qatar|
|    8528.0| Action Figure| 145.0|Respond nature he...|    Toys|         66.0|      Hot Wheels|   2.5|             Belgium|
|    9250.0|       Toy Car|439.24|Few choice memory...|    Toys|         87.0|          Marvel|   4.0|               Chile|
|    1420.0|  Toy Dinosaur|103.24|Gas guess way aro...|    Toys|         28.0|        Schleich|   2.1|            Malaysia|
|    7452.0|          Kite| 34.86|Hit oil upon whil...|    Toys|         60.0|    Fisher-Price|   2.6|         Philippines|
|    2343.0|  Toy Tool Set| 229.2|Forward not wear ...|    Toys|         88.0|  Melissa & Doug|   1.3|             Denmark|
|    9828.0|  Toy Tool Set|308.93|     More many tell.|    Toys|         71.0|      Paw Patrol|   2.0|              France|
|    3570.0|   Toy Soldier|256.67|Small these once ...|    Toys|         82.0|            Nerf|   4.3|United Arab Emirates|
+----------+--------------+------+--------------------+--------+-------------+----------------+------+--------------------+
only showing top 20 rows

AnalysisException: [TABLE_OR_VIEW_NOT_FOUND] The table or view `products` cannot be found. Verify the spelling and correctness of the schema and catalog.
If you did not qualify the name with a schema, verify the current_schema() output, or qualify the name with the correct schema and catalog.
To tolerate the error on drop use DROP VIEW IF EXISTS or DROP TABLE IF EXISTS.; line 3 pos 5;
'Sort ['category ASC NULLS FIRST, 'Rating DESC NULLS LAST], true
+- 'Project ['category, 'product_id, 'product_name, 'Rating]
   +- 'Filter (('Rating >= 4.5) AND 'category IN (Toys,Electronics,Cosmetics,Furniture,Clothing,Footwear,Books,Accessories))
      +- 'UnresolvedRelation [products], [], false