<a href="https://colab.research.google.com/github/Vandan1009/python_1/blob/main/project_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=4b69bea8fcd99baa0f44bee90e6108ae26a6f6c118a87b897e899095d23adbc1
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [2]:
from pyspark.sql import SparkSession, SQLContext

In [3]:
spark = SparkSession.builder.appName("ProductRatings").getOrCreate()

In [5]:
df=spark.read.csv('/content/final_data (3).csv',header=True,inferSchema=True)

In [6]:
new = df
new.createOrReplaceTempView("products")

In [7]:
df.show()

+----------+--------------+------+--------------------+--------+-------------+----------------+------+--------------------+
|product_id|  product_name| Price|         Description|Category|StockQuantity|           Brand|Rating|           Warehouse|
+----------+--------------+------+--------------------+--------+-------------+----------------+------+--------------------+
|    2928.0|  Toy Tool Set| 97.19|Kid future itself...|    Toys|         49.0|          Disney|   1.1|             Hungary|
|    5349.0|  Rubik's Cube| 344.7|Range heavy thoug...|    Toys|         26.0|          Disney|   4.6|             Vietnam|
|     847.0|     Dollhouse| 80.21|Form fill yet nat...|    Toys|         70.0|Thomas & Friends|   2.8|           Singapore|
|    3463.0|  Toy Dinosaur|442.73|Low matter build ...|    Toys|         85.0|          Disney|   1.7|           Indonesia|
|    9252.0|  Rubik's Cube|182.74|Take walk step de...|    Toys|         82.0|       DC Comics|   2.3|             Ireland|
|     269.0|Stuffed Animal| 414.4|Four cup professi...|    Toys|         40.0|            Brio|   4.9|             Ireland|
|   10209.0|     Toy Train|337.68| Myself strong just.|    Toys|         42.0|           VTech|   2.1|             Hungary|
|    5230.0|       Toy Car| 16.18|Lay stay pattern ...|    Toys|         48.0|    Transformers|   4.3|              Kuwait|
|    5627.0|      Play-Doh|152.43|People rule prepa...|    Toys|         35.0|      Mega Bloks|   4.6|             Ukraine|
|    3632.0|       Toy Car|253.71|Our truth over re...|    Toys|         62.0|       Star Wars|   3.2|             Belgium|
|    2479.0|        Puzzle|  76.0|Shoulder do he im...|    Toys|         37.0|            Brio|   1.6|              Norway|
|    6036.0|Stuffed Animal|207.78|Two save probably...|    Toys|         73.0|  My Little Pony|   1.5|         New Zealand|
|     708.0|Stuffed Animal|297.43|Fund drive presen...|    Toys|         26.0|    Transformers|   2.3|               Qatar|
|    8528.0| Action Figure| 145.0|Respond nature he...|    Toys|         66.0|      Hot Wheels|   2.5|             Belgium|
|    9250.0|       Toy Car|439.24|Few choice memory...|    Toys|         87.0|          Marvel|   4.0|               Chile|
|    1420.0|  Toy Dinosaur|103.24|Gas guess way aro...|    Toys|         28.0|        Schleich|   2.1|            Malaysia|
|    7452.0|          Kite| 34.86|Hit oil upon whil...|    Toys|         60.0|    Fisher-Price|   2.6|         Philippines|
|    2343.0|  Toy Tool Set| 229.2|Forward not wear ...|    Toys|         88.0|  Melissa & Doug|   1.3|             Denmark|
|    9828.0|  Toy Tool Set|308.93|     More many tell.|    Toys|         71.0|      Paw Patrol|   2.0|              France|
|    3570.0|   Toy Soldier|256.67|Small these once ...|    Toys|         82.0|            Nerf|   4.3|United Arab Emirates|
+----------+--------------+------+--------------------+--------+-------------+----------------+------+--------------------+
only showing top 20 rows

In [8]:
spark.sql('''
SELECT product_id, product_name, Price, Category, StockQuantity, Brand, Rating, Warehouse
FROM Products
WHERE Category = 'Electronics';
''').show()

+----------+--------------------+---------+-----------+-------------+---------+------+--------------+
|product_id|        product_name|    Price|   Category|StockQuantity|    Brand|Rating|     Warehouse|
+----------+--------------------+---------+-----------+-------------+---------+------+--------------+
|    5761.0|Wearable Fitness ...| 28678.56|Electronics|         78.0|  Samsung|   1.0|         Egypt|
|    4901.0|    Air Conditioners| 36859.54|Electronics|         84.0|  Toshiba|   2.5|       Vietnam|
|    7877.0|    Security Cameras| 34801.44|Electronics|         95.0|   Realme|   4.2|     Argentina|
|    8850.0|   Portable Chargers| 113356.4|Electronics|         50.0|   Huawei|   2.4|United Kingdom|
|    4518.0|            Monitors|121503.73|Electronics|         55.0|     Asus|   4.5|        Mexico|
|    8863.0|             Laptops| 88953.24|Electronics|         21.0|Whirlpool|   4.5|  South Africa|
|   10021.0|          Microwaves|  29432.7|Electronics|         86.0|     Bose|   4.2|       Belgium|
|    5375.0|    Security Cameras| 43152.05|Electronics|         57.0|     Sony|   3.2|      Colombia|
|   11661.0|            Printers| 18453.13|Electronics|          6.0|   Google|   1.7|        Poland|
|      11.0|   Portable Chargers| 39509.19|Electronics|         45.0|  Siemens|   3.4|   Philippines|
|   11868.0|     Digital Cameras|130201.22|Electronics|          2.0|    Canon|   2.6|         Chile|
|   11052.0|    Security Cameras|147722.25|Electronics|         50.0|     Acer|   1.5|         Qatar|
|    9375.0|           E-readers| 90790.84|Electronics|         39.0|    GoPro|   1.4|       Romania|
|   10341.0|  Keyboards and Mice|140888.95|Electronics|         86.0| Logitech|   4.1|  Saudi Arabia|
|    8374.0|            Printers|113830.94|Electronics|         46.0|   Amazon|   1.3|        France|
|    2264.0|   Streaming Devices| 10238.64|Electronics|         70.0|    GoPro|   3.6|        Russia|
|    2598.0|            Printers| 61321.77|Electronics|         86.0| Logitech|   1.8|        Kuwait|
|    5025.0|Wearable Fitness ...| 90574.26|Electronics|         29.0|    Nikon|   2.8|        Canada|
|    5244.0|          Microwaves|  2969.61|Electronics|         71.0|  Philips|   4.7|Czech Republic|
|    3938.0|            Monitors|130416.27|Electronics|         96.0|     Dell|   1.1|          Peru|
+----------+--------------------+---------+-----------+-------------+---------+------+--------------+
only showing top 20 rows

In [9]:
spark.sql('''SELECT product_id, product_name, Price, Category, StockQuantity, Brand, Rating, Warehouse
FROM Products
WHERE Rating > 4.5;''').show()

+----------+------------------+------+--------+-------------+------------+------+--------------+
|product_id|      product_name| Price|Category|StockQuantity|       Brand|Rating|     Warehouse|
+----------+------------------+------+--------+-------------+------------+------+--------------+
|    5349.0|      Rubik's Cube| 344.7|    Toys|         26.0|      Disney|   4.6|       Vietnam|
|     269.0|    Stuffed Animal| 414.4|    Toys|         40.0|        Brio|   4.9|       Ireland|
|    5627.0|          Play-Doh|152.43|    Toys|         35.0|  Mega Bloks|   4.6|       Ukraine|
|    2767.0|              Lego|159.29|    Toys|          4.0|      Mattel|   4.6|      Malaysia|
|    9127.0|          Toy Boat|279.61|    Toys|         28.0|   DC Comics|   4.8|      Colombia|
|   10790.0|              Kite|371.48|    Toys|         27.0|     Crayola|   4.6|         Japan|
|    9404.0|         Toy Piano|130.69|    Toys|         31.0|   DC Comics|   4.8|   South Korea|
|     905.0|         Toy Piano|390.21|    Toys|         86.0|      Hasbro|   4.8|     Argentina|
|    2990.0|Remote Control Car| 94.28|    Toys|         87.0|        Nerf|   4.6|         Japan|
|    2427.0|   Building Blocks|312.07|    Toys|         13.0|Transformers|   4.6|        Mexico|
|    6832.0|    Stuffed Animal|458.61|    Toys|         70.0|        Lego|   4.9|  South Africa|
|    1203.0|        Toy Guitar|301.76|    Toys|         56.0|      Disney|   4.8|         Japan|
|    8756.0|      Toy Tool Set|125.29|    Toys|          4.0|      Chicco|   4.9|   Netherlands|
|    9709.0|   Toy Kitchen Set|457.84|    Toys|         88.0|   Star Wars|   4.8|        Poland|
|    7385.0|Remote Control Car| 15.88|    Toys|         81.0|  Hot Wheels|   4.6|Czech Republic|
|   11261.0|       Barbie Doll|312.32|    Toys|         32.0|      Marvel|   4.7|        Norway|
|    4454.0|   Toy Kitchen Set| 428.8|    Toys|         35.0|  Mega Bloks|   4.6|         China|
|     457.0|   Building Blocks| 33.17|    Toys|         27.0|     Crayola|   5.0|         Qatar|
|   11688.0|    Stuffed Animal|216.57|    Toys|         54.0| Nickelodeon|   4.8|         India|
|    7701.0|        Hot Wheels|445.59|    Toys|         82.0|      Marvel|   4.9|         Qatar|
+----------+------------------+------+--------+-------------+------------+------+--------------+
only showing top 20 rows

In [10]:
spark.sql('''
SELECT product_id, product_name, Price, Category, StockQuantity, Brand, Rating, Warehouse
FROM Products
WHERE Brand = 'Nike';
''').show()

+----------+------------+-------+--------+-------------+-----+------+--------------------+
|product_id|product_name|  Price|Category|StockQuantity|Brand|Rating|           Warehouse|
+----------+------------+-------+--------+-------------+-----+------+--------------------+
|    4301.0|       Belts|4911.49|clothing|         78.0| Nike|   1.7|             Hungary|
|    4646.0|       Belts| 580.85|clothing|         99.0| Nike|   5.0|         New Zealand|
|   10432.0|      Gloves|2631.52|clothing|         73.0| Nike|   4.4|         Switzerland|
|    9755.0|     Dresses| 189.59|clothing|         30.0| Nike|   2.2|              Israel|
|    4646.0|     Scarves|2989.67|clothing|         67.0| Nike|   3.5|              Greece|
|   11235.0|    Leggings| 214.99|clothing|         80.0| Nike|   2.7|           Singapore|
|    4733.0|       Socks|1105.65|clothing|        100.0| Nike|   4.6|           Indonesia|
|    8419.0|     Blouses|4021.55|clothing|         96.0| Nike|   2.7|      United Kingdom|
|    3126.0|    T-shirts| 990.86|clothing|         63.0| Nike|   2.8|             Denmark|
|    8899.0|   Nightwear|3072.45|clothing|         33.0| Nike|   4.4|                Peru|
|    7974.0|     Blouses|2629.61|clothing|         73.0| Nike|   1.5|         Netherlands|
|    4852.0|    T-shirts|3668.27|clothing|         23.0| Nike|   3.6|                Peru|
|    4243.0|     Scarves|3229.21|clothing|         88.0| Nike|   3.1|               Qatar|
|   10267.0|    Swimwear|4140.48|clothing|         79.0| Nike|   1.8|United Arab Emirates|
|    2006.0| Polo shirts|4229.16|clothing|          1.0| Nike|   2.0|             Austria|
|    5486.0|       Suits|  700.1|clothing|         65.0| Nike|   1.1|              Sweden|
|    5882.0|       Coats|1364.59|clothing|         27.0| Nike|   3.7|             Denmark|
|    1995.0|        Hats| 541.28|clothing|         64.0| Nike|   4.4|             Belgium|
|    3575.0| Polo shirts| 347.16|clothing|          6.0| Nike|   5.0|            Thailand|
|    5645.0|      Gloves|4346.35|clothing|         25.0| Nike|   1.8|               China|
+----------+------------+-------+--------+-------------+-----+------+--------------------+
only showing top 20 rows

In [13]:
spark.sql('''
SELECT Category, product_id, product_name, MAX(Price) as MaxPrice
FROM Products
GROUP BY Category;
''').show()

ParseException:
[PARSE_SYNTAX_ERROR] Syntax error at or near 'Category': extra input 'Category'.(line 4, pos 8)

== SQL ==

SELECT Category, product_id, product_name, MAX(Price) as MaxPrice
FROM Products
GROUPBY Category;
--------^^^

In [14]:
spark.sql('''SELECT product_id, product_name, Price, Category, StockQuantity, Brand, Rating, Warehouse
FROM Products
WHERE StockQuantity < 10;''').show()

+----------+------------------+------+--------+-------------+----------------+------+--------------+
|product_id|      product_name| Price|Category|StockQuantity|           Brand|Rating|     Warehouse|
+----------+------------------+------+--------+-------------+----------------+------+--------------+
|    2767.0|              Lego|159.29|    Toys|          4.0|          Mattel|   4.6|      Malaysia|
|    8667.0|        Hot Wheels|155.15|    Toys|          6.0|          Mattel|   2.7|      Malaysia|
|    5801.0|          Play-Doh|394.89|    Toys|          7.0|  My Little Pony|   2.3|         Japan|
|    2827.0|Remote Control Car|178.47|    Toys|          6.0|      Mega Bloks|   1.1|         China|
|    8756.0|      Toy Tool Set|125.29|    Toys|          4.0|          Chicco|   4.9|   Netherlands|
|    3242.0|        Teddy Bear|384.78|    Toys|          2.0|          Chicco|   1.3|Czech Republic|
|     388.0|       Barbie Doll|476.32|    Toys|          5.0|        Play-Doh|   3.0|        Mexico|
|    3330.0|           Toy Car| 27.12|    Toys|          5.0|      Mega Bloks|   2.6|        Turkey|
|    6777.0|     Action Figure|198.45|    Toys|          6.0|      Hot Wheels|   2.1|       Romania|
|    4962.0|         Toy Plane|278.94|    Toys|          4.0|      Mega Bloks|   4.6|        Norway|
|    8993.0|   Building Blocks|372.76|    Toys|          7.0|Thomas & Friends|   4.7|       Ireland|
|    2886.0|        Toy Guitar|478.54|    Toys|          7.0|            Brio|   4.3|         Japan|
|    9213.0|        Teddy Bear|134.32|    Toys|          4.0|    Fisher-Price|   4.8|        Canada|
|    7355.0|              Kite|322.48|    Toys|          5.0|           Tonka|   4.6|       Hungary|
|    3774.0|        Hot Wheels| 48.06|    Toys|          4.0|       Peppa Pig|   2.0|         Spain|
|    3493.0|          Play-Doh|337.43|    Toys|          3.0|         Crayola|   2.1|       Vietnam|
|    2952.0|           Toy Car|215.98|    Toys|          2.0|          Marvel|   4.0|         Qatar|
|     423.0|            Puzzle|455.83|    Toys|          9.0|          Mattel|   1.8|         Spain|
|    2595.0|         Dollhouse|409.45|    Toys|          8.0|        Schleich|   2.2|       Vietnam|
|      39.0|      Toy Dinosaur| 439.2|    Toys|          5.0|         Crayola|   4.4|      Portugal|
+----------+------------------+------+--------+-------------+----------------+------+--------------+
only showing top 20 rows

In [15]:
spark.sql('''SELECT Category, AVG(Price) as AveragePrice
FROM Products
GROUP BY Category;''').show()

+-----------+------------------+
|   Category|      AveragePrice|
+-----------+------------------+
|Electronics| 75744.04024666667|
|      Books|2080.8343066666653|
|  Furniture| 504.6888933333332|
|Accessories| 5108.241019999994|
|   clothing|2521.3186399999995|
|   footwear|2570.2823466666673|
|  cosmetics|2563.4038866666633|
|       Toys|256.97085333333297|
+-----------+------------------+

In [16]:
spark.sql('''SELECT product_id, product_name, Price, Category, StockQuantity, Brand, Rating, Warehouse
FROM Products
WHERE Brand IN (SELECT Brand FROM Products GROUP BY Brand HAVING COUNT(*) > 5);''').show()

+----------+--------------+------+--------+-------------+----------------+------+--------------------+
|product_id|  product_name| Price|Category|StockQuantity|           Brand|Rating|           Warehouse|
+----------+--------------+------+--------+-------------+----------------+------+--------------------+
|    2928.0|  Toy Tool Set| 97.19|    Toys|         49.0|          Disney|   1.1|             Hungary|
|    5349.0|  Rubik's Cube| 344.7|    Toys|         26.0|          Disney|   4.6|             Vietnam|
|     847.0|     Dollhouse| 80.21|    Toys|         70.0|Thomas & Friends|   2.8|           Singapore|
|    3463.0|  Toy Dinosaur|442.73|    Toys|         85.0|          Disney|   1.7|           Indonesia|
|    9252.0|  Rubik's Cube|182.74|    Toys|         82.0|       DC Comics|   2.3|             Ireland|
|     269.0|Stuffed Animal| 414.4|    Toys|         40.0|            Brio|   4.9|             Ireland|
|   10209.0|     Toy Train|337.68|    Toys|         42.0|           VTech|   2.1|             Hungary|
|    5230.0|       Toy Car| 16.18|    Toys|         48.0|    Transformers|   4.3|              Kuwait|
|    5627.0|      Play-Doh|152.43|    Toys|         35.0|      Mega Bloks|   4.6|             Ukraine|
|    3632.0|       Toy Car|253.71|    Toys|         62.0|       Star Wars|   3.2|             Belgium|
|    2479.0|        Puzzle|  76.0|    Toys|         37.0|            Brio|   1.6|              Norway|
|    6036.0|Stuffed Animal|207.78|    Toys|         73.0|  My Little Pony|   1.5|         New Zealand|
|     708.0|Stuffed Animal|297.43|    Toys|         26.0|    Transformers|   2.3|               Qatar|
|    8528.0| Action Figure| 145.0|    Toys|         66.0|      Hot Wheels|   2.5|             Belgium|
|    9250.0|       Toy Car|439.24|    Toys|         87.0|          Marvel|   4.0|               Chile|
|    1420.0|  Toy Dinosaur|103.24|    Toys|         28.0|        Schleich|   2.1|            Malaysia|
|    7452.0|          Kite| 34.86|    Toys|         60.0|    Fisher-Price|   2.6|         Philippines|
|    2343.0|  Toy Tool Set| 229.2|    Toys|         88.0|  Melissa & Doug|   1.3|             Denmark|
|    9828.0|  Toy Tool Set|308.93|    Toys|         71.0|      Paw Patrol|   2.0|              France|
|    3570.0|   Toy Soldier|256.67|    Toys|         82.0|            Nerf|   4.3|United Arab Emirates|
+----------+--------------+------+--------+-------------+----------------+------+--------------------+
only showing top 20 rows

In [17]:
spark.sql('''SELECT product_id, product_name, Price, Category, StockQuantity, Brand, Rating, Warehouse
FROM Products
WHERE Price > (SELECT MAX(Price) FROM Products WHERE Category = 'Books');''').show()

+----------+--------------------+---------+-----------+-------------+---------+------+--------------+
|product_id|        product_name|    Price|   Category|StockQuantity|    Brand|Rating|     Warehouse|
+----------+--------------------+---------+-----------+-------------+---------+------+--------------+
|    5761.0|Wearable Fitness ...| 28678.56|Electronics|         78.0|  Samsung|   1.0|         Egypt|
|    4901.0|    Air Conditioners| 36859.54|Electronics|         84.0|  Toshiba|   2.5|       Vietnam|
|    7877.0|    Security Cameras| 34801.44|Electronics|         95.0|   Realme|   4.2|     Argentina|
|    8850.0|   Portable Chargers| 113356.4|Electronics|         50.0|   Huawei|   2.4|United Kingdom|
|    4518.0|            Monitors|121503.73|Electronics|         55.0|     Asus|   4.5|        Mexico|
|    8863.0|             Laptops| 88953.24|Electronics|         21.0|Whirlpool|   4.5|  South Africa|
|   10021.0|          Microwaves|  29432.7|Electronics|         86.0|     Bose|   4.2|       Belgium|
|    5375.0|    Security Cameras| 43152.05|Electronics|         57.0|     Sony|   3.2|      Colombia|
|   11661.0|            Printers| 18453.13|Electronics|          6.0|   Google|   1.7|        Poland|
|      11.0|   Portable Chargers| 39509.19|Electronics|         45.0|  Siemens|   3.4|   Philippines|
|   11868.0|     Digital Cameras|130201.22|Electronics|          2.0|    Canon|   2.6|         Chile|
|   11052.0|    Security Cameras|147722.25|Electronics|         50.0|     Acer|   1.5|         Qatar|
|    9375.0|           E-readers| 90790.84|Electronics|         39.0|    GoPro|   1.4|       Romania|
|   10341.0|  Keyboards and Mice|140888.95|Electronics|         86.0| Logitech|   4.1|  Saudi Arabia|
|    8374.0|            Printers|113830.94|Electronics|         46.0|   Amazon|   1.3|        France|
|    2264.0|   Streaming Devices| 10238.64|Electronics|         70.0|    GoPro|   3.6|        Russia|
|    2598.0|            Printers| 61321.77|Electronics|         86.0| Logitech|   1.8|        Kuwait|
|    5025.0|Wearable Fitness ...| 90574.26|Electronics|         29.0|    Nikon|   2.8|        Canada|
|    3938.0|            Monitors|130416.27|Electronics|         96.0|     Dell|   1.1|          Peru|
|    9112.0|           E-readers|102803.34|Electronics|         27.0|Whirlpool|   1.1|       Belgium|
+----------+--------------------+---------+-----------+-------------+---------+------+--------------+
only showing top 20 rows

In [18]:
spark.sql('''SELECT product_id, product_name, Price, Category, StockQuantity, Brand, Rating, Warehouse,
       RANK() OVER (PARTITION BY Category ORDER BY Price DESC) AS PriceRank
FROM Products;''').show()

+----------+--------------------+-------+-----------+-------------+-------------+------+-------------+---------+
|product_id|        product_name|  Price|   Category|StockQuantity|        Brand|Rating|    Warehouse|PriceRank|
+----------+--------------------+-------+-----------+-------------+-------------+------+-------------+---------+
|    9906.0|              Helmet|9995.08|Accessories|         48.0|       Fossil|   3.1|     Malaysia|        1|
|    6502.0|             Handbag|9993.93|Accessories|         75.0|      Versace|   3.6|       Norway|        2|
|    1283.0|            Umbrella|9989.05|Accessories|         79.0|Louis Vuitton|   3.5|        Italy|        3|
|    9838.0|Handkerchiefs and...|9988.57|Accessories|         52.0|      Ray-Ban|   1.1|       Greece|        4|
|    1932.0|             Glasses|9979.47|Accessories|         44.0|        Fendi|   1.5|  South Korea|        5|
|   10780.0|             Earring|9970.95|Accessories|         74.0|         Dior|   1.0|United States|        6|
|    7108.0|             Anklets|9956.74|Accessories|         89.0|       Hermes|   4.2|      Vietnam|        7|
|    7109.0|                 Hat|9951.36|Accessories|         71.0|   Tory Burch|   3.0|     Colombia|        8|
|    4681.0|Handkerchiefs and...| 9943.2|Accessories|         88.0|   Tory Burch|   1.4|     Thailand|        9|
|    8186.0|             Handbag|9936.52|Accessories|          1.0|     Burberry|   1.9|         Peru|       10|
|   11599.0|             Earring|9933.48|Accessories|         29.0|        Fendi|   4.3|      Belgium|       11|
|      61.0|             Necktie|9931.55|Accessories|         97.0|       Hermes|   4.4|     Malaysia|       12|
|    4285.0|              Helmet|9928.64|Accessories|         68.0|      Bvlgari|   2.5|      Ukraine|       13|
|    8727.0|             Handbag|9924.46|Accessories|         32.0|Louis Vuitton|   1.5|  South Korea|       14|
|    1020.0|             Necktie|9920.85|Accessories|          1.0|       Hermes|   3.0|       Russia|       15|
|     472.0|   Brooches and Pins|9916.51|Accessories|         93.0|    Swarovski|   1.7|    Australia|       16|
|   11380.0|             Wallets| 9915.8|Accessories|         26.0|      Ray-Ban|   4.3|  New Zealand|       17|
|    7123.0|               Glove|9913.78|Accessories|         15.0|   Kate Spade|   1.2|        Chile|       18|
|    8977.0|            Umbrella|9913.05|Accessories|         52.0|         Dior|   3.9|        Egypt|       19|
|    5814.0|             Wallets|9906.91|Accessories|          2.0|        Prada|   3.0|       Mexico|       20|
+----------+--------------------+-------+-----------+-------------+-------------+------+-------------+---------+
only showing top 20 rows

In [19]:
spark.sql('''SELECT product_id, product_name, Price, Category, StockQuantity, Brand, Rating, Warehouse,
       RANK() OVER (ORDER BY StockQuantity DESC) AS StockRank
FROM Products;''').show()

+----------+---------------+---------+-----------+-------------+----------------+------+------------+---------+
|product_id|   product_name|    Price|   Category|StockQuantity|           Brand|Rating|   Warehouse|StockRank|
+----------+---------------+---------+-----------+-------------+----------------+------+------------+---------+
|     146.0|    Barbie Doll|     13.1|       Toys|        100.0|      Paw Patrol|   4.9|      Norway|        1|
|    5193.0| Smart Speakers| 17650.39|Electronics|        100.0|          Huawei|   2.1|South Africa|        1|
|    2439.0|     Teddy Bear|   368.91|       Toys|        100.0|       DC Comics|   4.0|South Africa|        1|
|    9009.0|      Dollhouse|   126.71|       Toys|        100.0|          Disney|   2.2|     Belgium|        1|
|    1985.0|Building Blocks|   276.43|       Toys|        100.0|      Hot Wheels|   1.9|      Turkey|        1|
|    9596.0|     Toy Guitar|   223.82|       Toys|        100.0|       DC Comics|   5.0|    Malaysia|        1|
|     997.0|     Toy Guitar|    425.6|       Toys|        100.0|       Playmobil|   4.4|     Hungary|        1|
|    1147.0|    Barbie Doll|   358.36|       Toys|        100.0|Thomas & Friends|   2.5|      Israel|        1|
|    2577.0|Building Blocks|   293.62|       Toys|        100.0|  My Little Pony|   1.2| Netherlands|        1|
|    5949.0|           Kite|   467.74|       Toys|        100.0|        LeapFrog|   3.3| South Korea|        1|
|   11343.0|Building Blocks|   338.47|       Toys|        100.0|     Nickelodeon|   3.1|    Portugal|        1|
|   10082.0|       Play-Doh|    40.47|       Toys|        100.0|        Schleich|   1.8|      Sweden|        1|
|    5282.0|   Smart Lights| 86596.95|Electronics|        100.0|          Fitbit|   1.6|       Japan|        1|
|     326.0|          Yo-Yo|    60.31|       Toys|        100.0|            Lego|   1.9|     Finland|        1|
|    6007.0|Digital Cameras| 91426.65|Electronics|        100.0|     PlayStation|   4.5|     Belgium|        1|
|    5676.0|      Toy Piano|   376.16|       Toys|        100.0|  Melissa & Doug|   2.1|        Peru|        1|
|    2895.0|  Sound Systems|107003.52|Electronics|        100.0|          Amazon|   1.5|   Argentina|        1|
|    7226.0|     Toy Guitar|   125.78|       Toys|        100.0|          Marvel|   3.5|     Belgium|        1|
|    9597.0|       Monitors| 73432.89|Electronics|        100.0|            Roku|   1.7|   Indonesia|        1|
|     794.0|           Kite|   177.89|       Toys|        100.0|        Play-Doh|   3.8|     Ukraine|        1|
+----------+---------------+---------+-----------+-------------+----------------+------+------------+---------+
only showing top 20 rows

In [20]:
spark.sql('''SELECT product_id, product_name, Price, Category, StockQuantity, Brand, Rating, Warehouse,
       DENSE_RANK() OVER (ORDER BY Price DESC) AS OverallPriceRank
FROM Products;''').show()

+----------+--------------------+---------+-----------+-------------+----------+------+--------------+----------------+
|product_id|        product_name|    Price|   Category|StockQuantity|     Brand|Rating|     Warehouse|OverallPriceRank|
+----------+--------------------+---------+-----------+-------------+----------+------+--------------+----------------+
|    6285.0|     Gaming Consoles|149928.85|Electronics|         55.0|   Samsung|   1.5|      Portugal|               1|
|    9973.0|            Printers|149755.47|Electronics|         33.0|Sennheiser|   1.7|      Colombia|               2|
|    4867.0|      Smart Speakers| 149608.0|Electronics|          7.0|     Bosch|   2.8|        Poland|               3|
|   10012.0|       Sound Systems|149587.42|Electronics|         56.0|        HP|   4.4|        Sweden|               4|
|    8846.0|Electric Toothbru...|149570.39|Electronics|         15.0| Whirlpool|   3.4|       Germany|               5|
|    4780.0|    Electric Shavers|149522.95|Electronics|         37.0|      Asus|   3.0|        Poland|               6|
|    1019.0|        Smartwatches|149297.73|Electronics|         27.0|     Dyson|   3.9|United Kingdom|               7|
|    3613.0|     Digital Cameras|148951.88|Electronics|         27.0|      Dell|   3.1|     Indonesia|               8|
|   11111.0|            Printers|148889.54|Electronics|         62.0|     Canon|   1.3|        Sweden|               9|
|    3382.0|            Monitors|148709.86|Electronics|         82.0|    Xiaomi|   4.8|         Egypt|              10|
|    8385.0|   Streaming Devices|148708.44|Electronics|         88.0|   Siemens|   4.9|          Peru|              11|
|    8443.0|        Smart Lights|148695.32|Electronics|         45.0|     Canon|   2.2|       Germany|              12|
|    3324.0|  Keyboards and Mice|148688.47|Electronics|         43.0|  Logitech|   4.9|        Israel|              13|
|    6999.0|Bluetooth Headpho...|148669.67|Electronics|         48.0|      Dell|   4.9|        Greece|              14|
|    6056.0| Blu-ray/DVD Players|148572.63|Electronics|         71.0|    Amazon|   1.8|         Japan|              15|
|    7063.0| Blu-ray/DVD Players|148382.44|Electronics|         55.0|      Oppo|   3.0|       Hungary|              16|
|    3827.0|      Smart Speakers|148172.47|Electronics|         91.0|      Asus|   3.5|         Qatar|              17|
|    6231.0|   Streaming Devices|148006.86|Electronics|         59.0|   OnePlus|   1.3|       Romania|              18|
|   11134.0|    Fitness Trackers|147920.22|Electronics|         97.0|   Toshiba|   2.3|   Philippines|              19|
|    6576.0|  Keyboards and Mice|147722.57|Electronics|         10.0|    Huawei|   1.4|        Mexico|              20|
+----------+--------------------+---------+-----------+-------------+----------+------+--------------+----------------+
only showing top 20 rows

In [21]:
spark.sql('''SELECT Category, MAX(Price) AS MaxPrice, MIN(Price) AS MinPrice
FROM Products
GROUP BY Category;''').show()

+-----------+---------+--------+
|   Category| MaxPrice|MinPrice|
+-----------+---------+--------+
|Electronics|149928.85|   516.2|
|      Books|  3996.18|  104.18|
|  Furniture|   1000.0|   10.03|
|Accessories|  9995.08|  109.33|
|   clothing|   4999.1|  108.64|
|   footwear|  4999.79|  105.46|
|  cosmetics|   4997.9|  100.79|
|       Toys|   499.89|    5.93|
+-----------+---------+--------+