In [ ]:
#Create local file with the following data

Complete the following code using pyspark RDDs

movie.csv
movieId,moviename,director,year
200,shawshank,FrankD,1994
201,saw,JamesW,2004
202,avengers,JossW,2012
204,mi,ChristopherMcq,2018
205,wrongturn,DeclanO,2011

award.csv
catalogId,movieId,awards
11,200,2
12,200,3
13,201,1
14,202,3
15,202,5
16,204,4
17,205,1

In [9]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=22ac64953f2d84c5407e1a280d2ab25f9a493ecc46f2b00c8e77ce768f6d04de
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [49]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import concat,col,lit,sum

In [33]:
#Import libraries & Create SparkSession
spark=SparkSession.builder.appName("movies").getOrCreate()

In [15]:
spark

In [34]:
#Create two dataframes using respective csv files from local storage
df1=spark.createDataFrame([
[200,'shawshank','FrankD',1994],
[201,'saw','JamesW',2004],
[202,'avengers','JossW',2012],
[204,'mi','ChristopherMcq',2018],
[205,'wrongturn','DeclanO',2011]], schema=['movieId','moviename','director','year'])

In [35]:
df1.show()

+-------+---------+--------------+----+
|movieId|moviename|      director|year|
+-------+---------+--------------+----+
|    200|shawshank|        FrankD|1994|
|    201|      saw|        JamesW|2004|
|    202| avengers|         JossW|2012|
|    204|       mi|ChristopherMcq|2018|
|    205|wrongturn|       DeclanO|2011|
+-------+---------+--------------+----+

In [48]:
#Create a new column called "movieInfo" in movies dataframe which includes movieName & Director

df1.withColumn("moviesInfo ",concat("moviename",lit(" "),"director")).show()

+-------+---------+--------------+----+-----------------+
|movieId|moviename|      director|year|      moviesInfo |
+-------+---------+--------------+----+-----------------+
|    200|shawshank|        FrankD|1994| shawshank FrankD|
|    201|      saw|        JamesW|2004|       saw JamesW|
|    202| avengers|         JossW|2012|   avengers JossW|
|    204|       mi|ChristopherMcq|2018|mi ChristopherMcq|
|    205|wrongturn|       DeclanO|2011|wrongturn DeclanO|
+-------+---------+--------------+----+-----------------+

In [27]:
df2=spark.createDataFrame([[11,200,2],
[12,200,3],
[13,201,1],
[14,202,3],
[15,202,5],
[16,204,4],
[17,205,1]],schema=['catalogId','movieId','awards'])

In [28]:
df2.show()

+---------+-------+------+
|catalogId|movieId|awards|
+---------+-------+------+
|       11|    200|     2|
|       12|    200|     3|
|       13|    201|     1|
|       14|    202|     3|
|       15|    202|     5|
|       16|    204|     4|
|       17|    205|     1|
+---------+-------+------+

In [82]:
#Calculate total number of awards for each movie & display - movieID, movienName, awardsCount

# select c.moviename,c.movieId,sum(b.awards) as awardsCount
# from df2
# inner join df1 c
# on b.moveid==c.movieid
# group by moviename

# data=df2.join(df1,"movieId","inner")
# data.groupBy('moviename','movieId').sum('awards').show()

data=df2.join(df1,"movieId","inner")
data.groupBy('moviename','movieId').agg({'awards':'sum'}).show()

+---------+-------+-----------+
|moviename|movieId|sum(awards)|
+---------+-------+-----------+
|shawshank|    200|          5|
|      saw|    201|          1|
| avengers|    202|          8|
|       mi|    204|          4|
|wrongturn|    205|          1|
+---------+-------+-----------+

In [90]:
#Get top three movies on the basis of number of awards
from pyspark.sql.functions import col
data=df2.join(df1,"movieId","inner")
data.groupBy('moviename').agg({'awards':'sum'}).sort(col('sum(awards)').desc()).limit(3).show()

+---------+-----------+
|moviename|sum(awards)|
+---------+-----------+
| avengers|          8|
|shawshank|          5|
|       mi|          4|
+---------+-----------+

In [95]:
#Get top three latest movies
from pyspark.sql.functions import col
df1.sort(col('year').desc()).limit(3).show()

+-------+---------+--------------+----+
|movieId|moviename|      director|year|
+-------+---------+--------------+----+
|    204|       mi|ChristopherMcq|2018|
|    202| avengers|         JossW|2012|
|    205|wrongturn|       DeclanO|2011|
+-------+---------+--------------+----+