<a href="https://colab.research.google.com/github/Vandan1009/python_1/blob/main/pspyk1_0%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PySpark Practice Notebook

In [ ]:
#Source Data
#Create a csv file for the following data
product_id,product,country,sales
1,Product A,USA,100
2,Product B,USA,80
3,Product C,USA,30
1,Product A,Canada,60
2,Product B,Canada,40
4,Product D,UK,50
5,Product E,UK,20
1,Product A,Germany,70
3,Product C,Germany,90
4,Product D,Germany,40

In [6]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488490 sha256=1d94491dae9684f2d3e189a6a76978c21101558f6d21002da977661fe062204a
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [7]:
from pyspark.sql import SparkSession

In [8]:
#Create SparkSession for app "Sales Data Analysis"

spark=SparkSession.builder.appName("notebook1").getOrCreate()

In [91]:
#Create a pyspark DataFrame from the csv file on local storage
%%writefile product.csv
product_id,product,country,sales
1,Product A,USA,100
2,Product B,USA,80
3,Product C,USA,30
1,Product A,Canada,60
2,Product B,Canada,40
4,Product D,UK,50
5,Product E,UK,20
1,Product A,Germany,70
3,Product C,Germany,90
4,Product D,Germany,40

Overwriting product.csv

In [92]:
df=spark.read.option('header','true').csv('product.csv')

In [93]:
#Verify schema for the newly created file
df.show()

+----------+---------+-------+-----+
|product_id|  product|country|sales|
+----------+---------+-------+-----+
|         1|Product A|    USA|  100|
|         2|Product B|    USA|   80|
|         3|Product C|    USA|   30|
|         1|Product A| Canada|   60|
|         2|Product B| Canada|   40|
|         4|Product D|     UK|   50|
|         5|Product E|     UK|   20|
|         1|Product A|Germany|   70|
|         3|Product C|Germany|   90|
|         4|Product D|Germany|   40|
+----------+---------+-------+-----+

In [65]:
from pyspark.sql.functions import col,sum,max

In [94]:
#Display all entries for country "Germany"
#df.filter(df.country=='Germany').show()
#df.filter(df.country=='Germany').show()
#df.filter((df.country)=='Germany').show()
df1=df.filter(df['country']=='Germany').show()

+----------+---------+-------+-----+
|product_id|  product|country|sales|
+----------+---------+-------+-----+
|         1|Product A|Germany|   70|
|         3|Product C|Germany|   90|
|         4|Product D|Germany|   40|
+----------+---------+-------+-----+

In [101]:
#Find the total number of products
# df1=df.groupBy('product').count()
# df1.show()
df.select('product_id').distinct().count()

5

In [106]:
#Find top 3 products
#df.select('sales').agg({'sales':'max'}).limit(3).show()
df.sort('sales',ascending=False).limit(3).show()

+----------+---------+-------+-----+
|product_id|  product|country|sales|
+----------+---------+-------+-----+
|         3|Product C|Germany|   90|
|         2|Product B|    USA|   80|
|         1|Product A|Germany|   70|
+----------+---------+-------+-----+

In [108]:
#Calculate total sales
df.select('sales').agg({'sales':'sum'}).show()

+----------+
|sum(sales)|
+----------+
|     580.0|
+----------+

In [ ]:
#Find the market share of all products individually