<a href="https://colab.research.google.com/github/Vandan1009/python_1/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [87]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.2)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [88]:
from pyspark.sql import SparkSession

In [89]:
spark=SparkSession.builder.appName('project_lti').getOrCreate()

In [90]:
spark

In [99]:
df=spark.read.csv('/content/final_data.csv',header=True,inferSchema=True)

In [6]:
#df1=spark.read.csv('/content/my_orders (1).csv',header=True,inferSchema=True)

In [100]:
new=df
new.createOrReplaceTempView('products')

In [8]:
# new1=df1
# new1.createOrReplaceTempView('orders')

In [101]:
new.show()

+------------------+------+--------------------+--------+-------------+------------+------+------------------+
|      product_name| Price|         Description|Category|StockQuantity|       Brand|Rating|         Warehouse|
+------------------+------+--------------------+--------+-------------+------------+------+------------------+
|         Card Game|363.33|Whom those term b...|    Toys|           95|        Nerf|   2.6|        Emilyburgh|
|          Toy Boat|  79.6|Listen economy ge...|    Toys|           34|      Barbie|   2.8|  North Jamesmouth|
|     Action Figure|432.64|Lead back her local.|    Toys|            8|        Nerf|   4.6|  West Joshuahaven|
|      Rubik's Cube|215.39|Watch growth inve...|    Toys|         NULL|      Barbie|   3.5|   Mckenziechester|
|       Barbie Doll|  NULL|                NULL|    Toys|           38|   DC Comics|   1.2|     Catherineside|
|    Stuffed Animal|220.09|Computer little f...|    Toys|           76|      Chicco|   2.3|         Bryanport|
|Remote Control Car|460.26|Seem expect they ...|    Toys|           36|      Hasbro|   2.8|   East Brianmouth|
|            Puzzle|  5.75|Box seven never t...|    Toys|           37|        NULL|   0.0|        Traceytown|
|              NULL|439.53|For family state ...|    Toys|           55|  Hot Wheels|   3.7|       Courtneyton|
|     Action Figure| 363.7|Race drive contro...|    Toys|           99|Transformers|   2.1|North Hollyborough|
|         Toy Train|254.84|Home card phone m...|    Toys|           88|Fisher-Price|   1.7|    West Lindafort|
|        Toy Guitar| 58.86|Close gas large e...|    Toys|           22|  Paw Patrol|   1.7|       South Linda|
|Remote Control Car|224.88|Appear standard l...|    Toys|            6|  Hot Wheels|   1.1|         Scottberg|
|           Marbles| 406.9|Tend piece accoun...|    Toys|           68|       VTech|   0.0|       Stephenberg|
|   Building Blocks|232.24|Site executive on...|    Toys|           51|Fisher-Price|   1.5|     South Cynthia|
|           Marbles| 178.2|   Only order think.|    Toys|           22| Nickelodeon|   1.1|  Lake Erinchester|
|       Barbie Doll| 30.57|Weight team relat...|    Toys|           65|Little Tikes|   3.7|          Erinland|
|      Toy Dinosaur|260.14|Couple east sprin...|    Toys|           29|   DC Comics|   2.0|    Port Christina|
|    Stuffed Animal|381.51|Mouth news look a...|    Toys|            1|      Mattel|   1.2|      East Bethany|
|        Board Game|342.79|Speak phone respo...|    Toys|           45|Little Tikes|   2.7|          Markfort|
+------------------+------+--------------------+--------+-------------+------------+------+------------------+
only showing top 20 rows

In [56]:
!pip install faker

Requirement already satisfied: faker in /usr/local/lib/python3.10/dist-packages (27.0.0)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)

In [68]:
import pandas as pd
from faker import Faker
import random
from pyspark.sql import SparkSession

# Initialize Faker
fake = Faker()

# Generate order details
def generate_order_details(num_orders):
    order_data = {
        "order_id": [],
        "customer_id": [],
        "customer_name": [],
        "product_id": [],
        "customer_email": [],
        "quantity": [],
        "order_date": [],
        "order_status": [],
        "shipping_address": []
    }

    for _ in range(num_orders):
        order_data["order_id"].append(random.randint(1, 100))
        order_data["customer_id"].append(random.randint(1, 100))
        order_data["customer_name"].append(fake.name())
        order_data["product_id"].append(random.randint(1, 100))
        order_data["customer_email"].append(fake.email())
        order_data["quantity"].append(random.randint(1, 10))
        order_data["order_date"].append(fake.date_this_year())
        order_data["order_status"].append(random.choice(["Pending", "Shipped", "Delivered", "Cancelled"]))
        order_data["shipping_address"].append(fake.address().replace("\n", ", "))

    return pd.DataFrame(order_data)

# Generate a DataFrame with 10 orders
df_orders = generate_order_details(12000)
print(df_orders)

# Initialize Spark session
spark = SparkSession.builder.appName("OrdersApp").getOrCreate()

# Convert pandas DataFrame to PySpark DataFrame
spark_df_orders = spark.createDataFrame(df_orders)

# Create a temporary view
spark_df_orders.createOrReplaceTempView('orders_table')

# Verify the temporary view creation
spark.sql("SELECT * FROM orders_table").show()

df_orders.to_csv('order_details_new.csv', index=False)

       order_id  customer_id      customer_name  product_id  \
0            37           20     Kristy Flowers          14
1            80           38      Keith Sanchez           6
2            52           70        Frank Myers          30
3            39           38     Samantha Gomez          26
4            87           79      Brian Blevins          20
...         ...          ...                ...         ...
11995         5           62      Ashley Bowers          21
11996        40           31     Michael Hudson          63
11997        55            5      Vanessa Terry          59
11998        80           79  Christopher Irwin          53
11999        87           80       Phillip Tate          49

                   customer_email  quantity  order_date order_status  \
0            pamela11@example.com         6  2024-07-06      Pending
1            lisaholt@example.org         6  2024-08-10      Shipped
2              nyoung@example.net         4  2024-01-17      Shipped
3      suarezjennifer@example.net         4  2024-04-17      Shipped
4          carterluis@example.org         4  2024-01-08    Cancelled
...                           ...       ...         ...          ...
11995      benjamin59@example.org         9  2024-08-09      Shipped
11996        robert44@example.net         7  2024-06-18      Shipped
11997         zlandry@example.org         1  2024-08-02    Delivered
11998        groberts@example.com         2  2024-06-04      Pending
11999    josephwaters@example.org        10  2024-04-17    Delivered

                                        shipping_address
0      6479 Thomas Trail Suite 796, Cooleyburgh, OR 5...
1       07201 Berry Passage, Lake Courtneyview, PA 27759
2                       Unit 8916 Box 2621, DPO AA 42440
3              8091 Sellers Ferry, Porterburgh, AS 22700
4         47674 Gabriela Grove, Stephaniehaven, KY 50529
...                                                  ...
11995   45455 Rios Gardens, South Carolynhaven, NH 90667
11996           4310 Greene Square, Mariahport, MD 48777
11997  15526 Guerrero Hill Suite 469, New Jennifer, S...
11998   85719 Rice Highway Apt. 345, Jeffville, SD 49164
11999             777 Kenneth Row, South Haley, CA 74433

[12000 rows x 9 columns]
+--------+-----------+------------------+----------+--------------------+--------+----------+------------+--------------------+
|order_id|customer_id|     customer_name|product_id|      customer_email|quantity|order_date|order_status|    shipping_address|
+--------+-----------+------------------+----------+--------------------+--------+----------+------------+--------------------+
|      37|         20|    Kristy Flowers|        14|pamela11@example.com|       6|2024-07-06|     Pending|6479 Thomas Trail...|
|      80|         38|     Keith Sanchez|         6|lisaholt@example.org|       6|2024-08-10|     Shipped|07201 Berry Passa...|
|      52|         70|       Frank Myers|        30|  nyoung@example.net|       4|2024-01-17|     Shipped|Unit 8916 Box 262...|
|      39|         38|    Samantha Gomez|        26|suarezjennifer@ex...|       4|2024-04-17|     Shipped|8091 Sellers Ferr...|
|      87|         79|     Brian Blevins|        20|carterluis@exampl...|       4|2024-01-08|   Cancelled|47674 Gabriela Gr...|
|      76|         36|       Paul Brewer|        14|klineadrian@examp...|       9|2024-02-12|   Cancelled|808 Melanie Well ...|
|      31|         96|  Shannon Espinoza|        65|qcontreras@exampl...|       9|2024-08-12|   Cancelled|734 Bowers Isle, ...|
|      54|         66|      Samuel Brown|        58|xroberts@example.com|       5|2024-03-31|     Pending|9195 Ashley Squar...|
|      89|         93|   Bianca Petersen|        12| zpowell@example.org|       1|2024-04-02|     Shipped|89414 Karen Villa...|
|      86|         76|     Melissa Heath|        96|brandi58@example.net|       9|2024-01-26|     Pending|59804 Cole Row, E...|
|      42|         34|     Jason Collins|        79|williamreilly@exa...|       1|2024-01-06|     Shipped|106 Murphy Camp, ...|
|      98|         41|         Ryan Bell|        93|  zstone@example.net|       7|2024-04-13|     Pending|583 Richards Spur...|
|      68|         48|Christine Guerrero|        61|  sean90@example.net|       1|2024-02-19|   Cancelled|405 Rojas Spurs, ...|
|      95|         71|   Jamie Fernandez|        68|ffigueroa@example...|       6|2024-02-28|   Delivered|9411 Robert Branc...|
|      95|         75|      Amanda Moody|        28|hornkimberly@exam...|       7|2024-03-14|     Pending|271 Traci Route, ...|
|      73|         48|   Daryl Hernandez|        50|  amiles@example.org|       3|2024-01-29|     Shipped|5920 Kenneth Cany...|
|      38|         59|     Derek Hartman|        49|fernandomarsh@exa...|       2|2024-06-13|   Cancelled|2221 Brian Orchar...|
|       6|         65|    Daniel Padilla|        78| frank26@example.com|       2|2024-02-05|   Delivered|968 Diana Ridges,...|
|       1|         40|      Amy Espinoza|        55|codyjimenez@examp...|      10|2024-05-23|   Cancelled|777 Danielle Junc...|
|      17|         76|    Monica Montoya|         3|patriciapeck@exam...|       7|2024-03-01|   Delivered|9234 Harrington K...|
+--------+-----------+------------------+----------+--------------------+--------+----------+------------+--------------------+
only showing top 20 rows

In [102]:
spark.sql('''SELECT * FROM products
WHERE StockQuantity IS NULL;''').show()

+-----------------+---------+--------------------+---------+-------------+------------+------+---------------+
|     product_name|    Price|         Description| Category|StockQuantity|       Brand|Rating|      Warehouse|
+-----------------+---------+--------------------+---------+-------------+------------+------+---------------+
|     Rubik's Cube|   215.39|Watch growth inve...|     Toys|         NULL|      Barbie|   3.5|Mckenziechester|
|Smart Thermostats|121022.32|His arm parent th...|     NULL|         NULL|   Panasonic|   4.2|    East Krista|
|  Curling Mascara|   873.26|Identify force be...|cosmetics|         NULL|IT Cosmetics|   0.0|Port Robertberg|
+-----------------+---------+--------------------+---------+-------------+------------+------+---------------+

In [103]:
spark.sql('''SELECT * FROM products
WHERE Description IS NULL;''').show()

+-----------------+---------+-----------+-----------+-------------+-------------+------+--------------+
|     product_name|    Price|Description|   Category|StockQuantity|        Brand|Rating|     Warehouse|
+-----------------+---------+-----------+-----------+-------------+-------------+------+--------------+
|      Barbie Doll|     NULL|       NULL|       Toys|           38|    DC Comics|   1.2| Catherineside|
|         Toy Boat|   404.91|       NULL|       Toys|           64|         Brio|   4.2|  East Crystal|
|          Tablets| 81797.63|       NULL|Electronics|            1|         Sony|   4.2|Rodriguezburgh|
|   Smart Speakers| 93865.78|       NULL|Electronics|           85|        Bosch|   5.0| Fernandezland|
|Portable Chargers|135980.21|       NULL|Electronics|            1|       Realme|   2.7|   Kruegerstad|
|    Lip Nourisher|  4188.44|       NULL|  cosmetics|           67|    ColourPop|   1.1|     Brianbury|
|        Bookshelf|   100.11|       NULL|  Furniture|           35|Karastan Rugs|   2.2|    Audreybury|
+-----------------+---------+-----------+-----------+-------------+-------------+------+--------------+

In [104]:
spark.sql('''SELECT *
FROM products
where product_name IS NULL
OR Brand IS NULL
''').show()

+------------------+--------+--------------------+-----------+-------------+----------+------+--------------------+
|      product_name|   Price|         Description|   Category|StockQuantity|     Brand|Rating|           Warehouse|
+------------------+--------+--------------------+-----------+-------------+----------+------+--------------------+
|            Puzzle|    5.75|Box seven never t...|       Toys|           37|      NULL|   0.0|          Traceytown|
|              NULL|  439.53|For family state ...|       Toys|           55|Hot Wheels|   3.7|         Courtneyton|
|  Washing Machines|92415.02|Six here necessar...|Electronics|           87|      NULL|   2.6|      South Jennifer|
|      Smart Lights|27785.67|Certainly fact fa...|Electronics|           74|      NULL|   3.2|        North Harold|
|           Laptops|16071.46|Myself politics y...|Electronics|           60|      NULL|   2.8|        New Annabury|
|         Eye Cream|  103.23|Perhaps into diff...|  cosmetics|            9|      NULL|   2.9|North Christinamouth|
|    Eyelash Primer|  2370.6|Because economic ...|  cosmetics|           76|      NULL|   1.2|     West Kevinville|
|        Lip Butter| 2214.86|Hotel history pai...|  cosmetics|            4|      NULL|   1.6|    Port Matthewberg|
|    Lip Exfoliator|  662.74|Their heavy thoug...|  cosmetics|           84|      NULL|   1.2|            Johntown|
|Eye Shadow Palette| 2451.14|Success get natur...|  cosmetics|           32|      NULL|   4.3|          Jamesville|
|             Stool|   937.9|School high any t...|  Furniture|           72|      NULL|   3.0|          Angelafurt|
+------------------+--------+--------------------+-----------+-------------+----------+------+--------------------+

In [105]:
spark.sql('''SELECT AVG(Price) AS average_price
FROM products;''').show()

+-----------------+
|    average_price|
+-----------------+
|10665.89385582563|
+-----------------+

In [106]:
spark.sql('''SELECT ROUND(AVG(Price), 2) AS average_price
FROM products;''').show()

+-------------+
|average_price|
+-------------+
|     10665.89|
+-------------+

In [121]:
spark.sql('''SELECT *
FROM products
WHERE Rating = 0;''').show()

+-----------------+--------+--------------------+-----------+-------------+-----------------+------+---------------+
|     product_name|   Price|         Description|   Category|StockQuantity|            Brand|Rating|      Warehouse|
+-----------------+--------+--------------------+-----------+-------------+-----------------+------+---------------+
|           Puzzle|    5.75|Box seven never t...|       Toys|           37|             NULL|   0.0|     Traceytown|
|          Marbles|   406.9|Tend piece accoun...|       Toys|           68|            VTech|   0.0|    Stephenberg|
|      Barbie Doll|  343.51|Reveal happen mou...|       Toys|            4|     Little Tikes|   0.0|     Michaelton|
|Smart Thermostats|59572.88|Arm knowledge TV ...|Electronics|           18|           Xiaomi|   0.0|  West Johntown|
|    Refrigerators| 18546.6|Heart make mainta...|Electronics|           82|           Google|   0.0|      Bruceberg|
|       Lip Repair| 1296.45|White argue purpo...|  cosmetics|            9|Charlotte Tilbury|   0.0|    Kennethtown|
|      Lip Plumper|  4363.2|Candidate use wor...|  cosmetics|           63|    MAC Cosmetics|   0.0|    Port Rachel|
|  Curling Mascara|  873.26|Identify force be...|  cosmetics|         NULL|     IT Cosmetics|   0.0|Port Robertberg|
|        Lip Gloss| 4328.51|Thousand continue...|  cosmetics|          100|      Urban Decay|   0.0|      Garzatown|
+-----------------+--------+--------------------+-----------+-------------+-----------------+------+---------------+

In [ ]:
products_df = spark.read.format("csv").option("header", "true").load("path/to/products.csv")